.Hide, .spinner.Hide { display: none; } 
#Templates { display: none; }

.Active, .ui-button.Active, .ui-button:hover.Active { background: #70ff70; color: #000; }
.ClickMe, .ui-button.ClickMe, .ui-button:hover.ClickMe { background: #ff9010; color: #000; }

[context="pt"] .ShowSome:not(.ShowOnPt):not(.ShowOnPurePt) { display: none; }
[context="lt"] .ShowSome:not(.ShowOnLt):not(.ShowOnPureLt) { display: none; }
[context="plt"] .ShowSome:not(.ShowOnPlt):not(.ShowOnPt):not(.ShowOnLt) { display: none; }
[context="sheet"] .ShowSome:not(.ShowOnSheet):not(.ShowOnPt) { display: none; }
[context="whiteboard"] .ShowSome:not(.ShowOnWhiteboard):not(.ShowOnPt) { display: none; }

#indexLink { float: right; border: none; }

#ConnectionStatus { position: absolute; display: none; z-index: 9999; background-color: #A00000; font-size: 40px; width: 100%; height: 100%; opacity: 0.5; top: 0; left: 0; } 
#ConnectionStatus:not([status="ready"]) { display: block; } 
#ConnectionStatus[status="loading"] { background-color: #A0A000; }

@keyframes spinner {
    0%   { transform: translate3d(-50%, -50%, 0) rotate(0deg);   }
    100% { transform: translate3d(-50%, -50%, 0) rotate(360deg); }
}
.spinner {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 4px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 20px;
    width: 20px;
    position: relative;
    top: 20px;
    left: 20px;
    display: inline-block;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}
