:root {
    --outside-bg: #eee;
    --outside-fg: black;

    --segment-corner-radius: 0.6rem;
    --segment-gap: 0.5rem;

    --group-bg: #bbb;
    --group-fg: #000;
    --group-border-top: 1px dashed #eee;
    --group-gap: 1rem;

    --subheader-bg: #644;
    --subheader-fg: #fff;
    --subheader-font-size: 1rem;
    --subheader-font-weight: normal;

    --header-bg: #833;
    --header-fg: #fff;
    --header-font-size: var(--important-font-size);
    --header-font-weight: var(--important-font-weight);

    --nodistract-bg: #ccc;
    --nodistract-fg: var(--group-fg);
    --nodistract-font-size: 0.75rem;

    --important-font-size: 1.5rem;
    --important-font-weight: bold;
    --very-important-font-size: 2rem;
    --very-important-font-weight: var(--important-font-weight);
    --very-very-important-font-size: 3rem;
    --very-very-important-font-weight: var(--very-important-font-weight);

    --table-row-stripe: #ccc;

    --element-gap: 0.5rem;
    --element-active-bg: #6fdf6f;
    --element-active-fg: var(--group-fg);
    --element-clickme-bg: #ff9010;
    --element-clickme-fg: var(--group-fg);
    --element-inbox-bg: #e33;
    --element-inbox-fg: var(--group-fg);
    --element-unserved-bg: #0ee;
    --element-unserved-fg: var(--group-fg);


    --button-border-color: #555;
    --button-bg: #eee;
    --button-fg: #000;
    --button-border: 1px solid var(--button-border-color);
    --button-shadow: var(--button-border-color) 2px 2px;
    --button-transform: translate(-2px, -2px);
    --button-font-size: 0.9em;
    --button-font-weight: bold;
    --button-hover-shadow: var(--button-border-color) 1px 1px;
    --button-hover-transform: translate(-1px, -1px);
    --button-clicked-shadow: var(--button-border-color) 3px 3px inset;
    --button-clicked-transform: translate(0, 0);
    --button-active-shadow: var(--button-border-color) 1px 1px inset;
    --button-active-hover-shadow: var(--button-border-color) 2px 2px inset;
}

a { color: inherit; }
html { font-size: 12pt; }
body { background-color: var(--outside-bg); color: var(--outside-fg); }
.sbSegmentGroup { display: flex; gap: var(--segment-gap); }
.sbSegmentGroup > * { flex: 1; }
.sbSegment { border-radius: var(--segment-corner-radius); margin-bottom: var(--segment-gap); }
.sbSegment.sbFillArea { height: calc(100% - var(--segment-gap)); }
.sbSegment>:first-child { border-top-left-radius: var(--segment-corner-radius); border-top-right-radius: var(--segment-corner-radius); }
.sbSegment>:last-child { border-bottom-left-radius: var(--segment-corner-radius); border-bottom-right-radius: var(--segment-corner-radius); }

.sbGroup { width: 100%; text-align: center; padding: calc(0.5 * var(--group-gap)) 0; background-color: var(--group-bg); color: var(--group-fg); }
div.sbHeader, th.sbHeader, td.sbHeader, table .sbHeader td, table .sbHeader th { background-color: var(--header-bg); color: var(--header-fg); font-size: var(--header-font-size); font-weight: var(--header-font-weight); }
div.sbSubHeader, th.sbSubHeader, td.sbSubHeader, table .sbSubHeader td, table .sbSubHeader th { background-color: var(--subheader-bg); color: var(--subheader-fg); font-size: var(--subheader-font-size); font-weight: var(--subheader-font-weight); }
div.sbGroup { display: flex; justify-content: space-around; align-items: center; }
table.sbGroup { border-spacing: 0; padding: 0; }
table.sbGroup:first-child>thead>tr:first-child>*:first-child { border-top-left-radius: var(--segment-corner-radius); }
table.sbGroup:first-child>thead>tr:first-child>*:last-child { border-top-right-radius: var(--segment-corner-radius); }
table.sbGroup:last-child { padding-bottom: var(--segment-corner-radius); }
table.sbGroup tr:nth-of-type(even) { background-color: var(--table-row-stripe); }
.sbGroup:not(.sbHeader):not(.sbSubHeader) + .sbGroup:not(table):not(.sbHeader):not(.sbSubHeader) { border-top: var(--group-border-top); }

.sbStack { display: flex; flex-direction: column; gap: var(--element-gap); }
.sbStack>div { width: 100%; display: flex; justify-content: space-around; align-items: center; gap: var(--element-gap); }

div.sbSheets { height: calc(100% - 10px); align-items: flex-start; flex-wrap: wrap; gap: 1rem; color: #000; }
.sbSheets>table { width: calc(100% - 12px); border-spacing: 0; border-collapse: collapse; table-layout:fixed; }
.sbSheets>table, .sbSheets>table>tbody, .sbSheets>table td { border: 1px solid #777; }
.sbSheets>table td { text-align: center; vertical-align: middle; padding: 0; border-style: dotted solid; }
.sbSheets .hasAnnotation { position: relative; background-clip: padding-box; } 
.sbSheets .hasAnnotation::after { position: absolute; right: 2px; top: 2px; height: 5px; width: 5px; background-color: red; content: ""; } 

.sbActive, .ui-button.sbActive { background: var(--element-active-bg); color: var(--element-active-fg); box-shadow: var(--button-active-shadow); transform: var(--button-active-transform); }
.sbClickMe, .ui-button.sbClickMe { background: var(--element-clickme-bg); color: var(--element-clickme-fg); }
.sbUnserved, .ui-button.sbUnserved { background: var(--element-unserved-bg); color: var(--element-unserved-fg); }
.sbInBox, .ui-button.sbInBox { background: var(--element-inbox-bg); color: var(--button-inbox-fg); box-shadow: var(--button-active-shadow); transform: var(--button-active-transform); }
.ui-button:hover { box-shadow: var(--button-hover-shadow); transform: var(--button-hover-transform); }
.ui-button:hover.sbActive, .ui-button:hover.sbInBox { box-shadow: var(--button-active-hover-shadow);  transform: var(--button-active-transform); }
.ui-button:active, .ui-button:active.sbActive { box-shadow: var(--button-clicked-shadow); transform: var(--button-clicked-transform); }

.sbNoDistract { font-size: var(--nodistract-font-size); }
.ui-button.sbNoDistract { font-size: calc(.9 * var(--nodistract-font-size)); }
.sbNoDistract.sbGroup, .sbNoDistract .sbGroup { background-color: var(--nodistract-bg); color: var(--nodistract-fg); }

.sbImportant.sbImportant { font-size: var(--important-font-size); font-weight: var(--important-font-weight); }
.ui-button.sbImportant { font-size: calc(.9 * var(--important-font-size)); font-weight: var(--important-font-weight); }
.sbVeryImportant.sbVeryImportant { font-size: var(--very-important-font-size); font-weight: var(--very-important-font-weight); }
.ui-button.sbVeryImportant { font-size: calc(.9 * var(--very-important-font-size)); font-weight: var(--very-important-font-weight); }
.sbVeryVeryImportant.sbVeryVeryImportant { font-size: var(--very-very-important-font-size); font-weight: var(--very-very-important-font-weight); }
.ui-button.sbVeryVeryImportant { font-size: calc(.9 * var(--very-very-important-font-size)); font-weight: var(--very-very-important-font-weight); }

.sbClickable { cursor: pointer; }

.sbInvisible { visibility: hidden; }
.sbHide.sbHide.sbHide.sbHide { display: none; } 
.sbTemplates { display: none; }

[sbSheetStyle="pbt"] .sbShowBySheetStyle:not(.sbShowOnPbt) { display: none; }
[sbSheetStyle="boxview"] .sbShowBySheetStyle:not(.sbShowOnBoxView) { display: none; }
[sbSheetStyle="sk"] .sbShowBySheetStyle:not(.sbShowOnSk) { display: none; }
[sbSheetStyle="pt"] .sbShowBySheetStyle:not(.sbShowOnPt):not(.sbShowOnPurePt) { display: none; }
[sbSheetStyle="lt"] .sbShowBySheetStyle:not(.sbShowOnLt):not(.sbShowOnPureLt) { display: none; }
[sbSheetStyle="plt"] .sbShowBySheetStyle:not(.sbShowOnPlt):not(.sbShowOnPt):not(.sbShowOnLt) { display: none; }
[sbSheetStyle="sheet"] .sbShowBySheetStyle:not(.sbShowOnSheet):not(.sbShowOnPt) { display: none; }
[sbSheetStyle="operator"] .sbShowBySheetStyle:not(.sbShowOnSk):not(.sbShowOnOperator) { display: none; }
[sbSheetStyle="whiteboard"] .sbShowBySheetStyle:not(.sbShowOnWhiteboard):not(.sbShowOnPt) { display: none; }

.sbKeyControl span.Indicator { font-size: 0.75em; } 
.sbKeyControl:not(.HasControlKey) span.Indicator { display: none; } 
.sbKeyControl.sbKeyControl.Editing { border: 1px solid #f00; pointer-events: auto; } 
.sbKeyControl.sbKeyControl.Editing.hover { background: #faa; } 

#sbIndexLink { float: right; border: none; }

#sbConnectionStatus { position: absolute; display: none; z-index: 9999; background-color: #A00000; color: #fff; font-size: 100px; text-align: center; vertical-align: middle; line-height: 100vh; width: 100%; height: 100%; opacity: 0.5; top: 0; left: 0; } 
body:not(.sbNoConnectionStatus) #sbConnectionStatus:not([status="ready"]) { display: block; } 
#sbConnectionStatus[status="loading"] { background-color: #A0A000; color: #000; cursor: wait; }

.ui-controlgroup>button { border-radius: 0; margin: 0; } 
.ui-controlgroup>button:first-of-type { border-radius: 6px 0px 0px 6px; } 
.ui-controlgroup>button:last-of-type { border-radius: 0px 6px 6px 0px; } 
.ui-controlgroup>button:only-of-type { border-radius: 6px; } 
.ui-controlgroup>button { padding: 0.4em 0.5em; } 

@keyframes sbSpinner {
    0%   { transform: translate3d(-50%, -50%, 0) rotate(0deg);   }
    100% { transform: translate3d(-50%, -50%, 0) rotate(360deg); }
}
.sbSpinner {
    animation: 1.5s linear infinite sbSpinner;
    animation-play-state: inherit;
    border: solid 4px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 20px;
    width: 20px;
    position: relative;
    top: 20px;
    left: 20px;
    display: inline-block;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}
