table.Devices, .Devices thead, .Devices tbody, .Devices tr, .Devices td, .Devices th {
	border-collapse: collapse;
	border-color:#777;
  border: 1px;
  border-style: solid;
}

.Devices thead { background-color: #aaaaaa; }

.Devices tbody:nth-child(odd), .Devices tbody:nth-child(odd) input { background-color: #dddddd; }
.Devices tbody:nth-child(even), .Devices tbody:nth-child(even) input { background-color: #f0f0f0; }

.Devices td, .Devices th { padding: .4ex; }
.Devices .Created, .Devices .LastSeen, .Devices .LastWrite { text-align: right; }
.Devices .Hardware { text-align: center; }
.Devices .RemoteAddr { text-align: left; }  /* Have all the 192.168s line up. */

/* Hide LastSeen for a device if it has active clients. */
.Devices tbody tr:first-child:not(:only-child) .LastSeen { font-size: 0;}
.Devices tbody tr:first-child:not(:only-child) .LastSeen:before {
  content: "0s";
  font-size: initial;
  padding: .4ex;
}

