*~

bin
test-bin
release
lib/crg-scoreboard.jar
config/autosave
html/stream
html/images/teamlogo
html/images/sponsor_banner
html/images/fullscreen
!html/images/fullscreen/American Flag.jpg
!html/images/fullscreen/overlay.png
html/videos/fullscreen
!html/videos/fullscreen/American Flag.webm
html/game-data
html/custom
!html/custom/view/example.html
GameData
android/.gradle/
android/assets/
android/build/
/rules/
/game-data/
