*~

bin
test-bin
release
lib/crg-scoreboard.jar
config/autosave
config/*.xlsx
html/stream
html/images/teamlogo
html/images/sponsor_banner
html/images/fullscreen
!html/images/fullscreen/test-image.png
html/videos/fullscreen
!html/videos/fullscreen/test-video.webm
html/game-data
html/custom
!html/custom/view/example.html
GameData
android/.gradle/
android/assets/
android/build/
/rules/
/game-data/
/node_modules/
/package-lock.json
