<div id="Team" class="sbSegment">
  <div class="sbGroup sbHeader Name">
    <span>
      <span sbClass="sbHide: ^State: === 'Prepared'" sbDisplay="FullName"></span>
      <select sbControl="PreparedTeam" sbClass="sbHide: ^State: !== 'Prepared'">
        <option value="">Custom Team</option>
        <option
          sbForeach="PreparedTeam:: name: resort=Name"
          sbContext="/ScoreBoard"
          sbAttr="name: FullName | value: Id"
          sbDisplay="FullName"
        ></option>
      </select>
      <button class="SyncButton" sbToggle="PreparedTeamConnected" sbClass="sbHide: PreparedTeam: !">Sync Changes</button>
      <button class="StoreButton sbHide" sbCall="tmeOpenStoreDialog" sbClass="sbHide: PreparedTeam: !==''">Store Team</button>
    </span>
  </div>
  <div class="sbGroup Control">
    <span>
      <select sbControl="Logo">
        <option value="">No Logo</option>
        <option
          sbForeach="File::name: resort=Name"
          sbContext="/ScoreBoard.Media.Format(images).Type(teamlogo)"
          sbAttr="name: Name | value:-:sbToMediaPath"
          sbDisplay="Name"
        ></option>
      </select>
      <input type="file" id="teamLogoUpload" class="sbHide" />
      <button sbCall="tmeTriggerUpload">Upload...</button>
    </span>
    <button sbCall="tmeOpenAlternateNamesDialog">Alternate Names</button>
    <button sbCall="tmeOpenColorsDialog">Colors</button>
  </div>
  <div class="sbGroup Names">
    <div class="LogoPreview" sbClass="sbHide: Logo: sbIsEmpty"><img sbAttr="src: Logo" /></div>
    <table class="Names">
      <tr class="League">
        <td class="Label"><span>League: </span></td>
        <td class="Value"><input type="text" class="Name" size="30" sbControl="LeagueName" /></td>
      </tr>
      <tr class="LTeam">
        <td class="Label"><span>Team: </span></td>
        <td class="Value"><input type="text" class="Name" size="30" sbControl="TeamName" /></td>
      </tr>
      <tr class="Color">
        <td class="Label">
          <span sbClass="sbHide:-: tmeIsPrepared">Uniform Color: </span><span sbClass="sbHide:-: tmeNotPrepared">Uniform Colors: </span>
        </td>
        <td class="Value">
          <span id="PreparedUc" class="sbHide" sbClass="sbHide: PreparedTeam: sbIsEmpty" sbAttr="team: PreparedTeam" sbPrefix="t:[*]">
            <select
              sbForeach="PreparedTeam"
              sbContext="/ScoreBoard"
              sbClass="sbHide: Id: !== elem.parent().attr('team')"
              sbControl="t.UniformColor: tmeFilterOtherUc"
            >
              <option value="">Other</option>
              <option sbForeach="UniformColor::value:noId" sbAttr="value:" sbDisplay=" "></option>
            </select>
          </span>
          <input type="text" class="Name" size="15" sbClass="sbHide: UniformColor: tmeIsNotOtherUc" sbControl="UniformColor" />
          <span sbClass="sbHide:-: tmeNotPrepared">
            <span sbForeach="UniformColor:: name:noId" sbAttr="name:" class="RemoveColor">
              <span sbDisplay=":"></span>
              <button sbSet=": null">X</button>
            </span>
          </span>
          <input type="text" id="newUc" class="Name" size="15" sbClass="sbHide:-: tmeNotPrepared" sbOn="keyup: tmeAddNewUc" />
          <button sbClass="sbHide:-: tmeNotPrepared" sbCall="tmeAddNewUc">Add</button>
        </td>
      </tr>
    </table>
  </div>
  <table class="sbGroup Skaters">
    <thead>
      <tr class="sbHeader">
        <th></th>
        <th class="Title">Skaters</th>
        <th></th>
        <th class="normalSize SkaterCount" sbDisplay="Skater(*).Flags: tmeSkaterCount">0 skating</th>
        <th class="normalSize">
          <button sbProp="disabled: ^State: != null && v !== 'Prepared'" sbCall="tmeOpenRemoveAllSkatersDialog">Remove All</button>
        </th>
      </tr>
      <tr class="sbSubHeader">
        <th>Number</th>
        <th>Name</th>
        <th>Pronouns</th>
        <th>Flags</th>
        <th>Add</th>
      </tr>
      <tr class="AddSkater sbSubHeader">
        <td class="RosterNumber">
          <input type="text" size="5" class="RosterNumber" sbOn="keyup: tmeNewSkaterInput | paste: tmePasteSkaters" />
        </td>
        <td class="Name"><input type="text" size="20" class="Name" sbOn="keyup: tmeNewSkaterInput | paste: tmePasteSkaters" /></td>
        <td class="Pronouns"><input type="text" size="10" class="Pronouns" sbOn="keyup: tmeNewSkaterInput | paste: tmePasteSkaters" /></td>
        <td class="Flags">
          <select class="Flags">
            <option value="">Skater</option>
            <option value="ALT">Not Skating</option>
            <option value="C">Captain</option>
            <option value="A">Alt Captain</option>
            <option value="BA">Bench Alt Captain</option>
            <option value="B">Bench Staff</option>
          </select>
        </td>
        <td><button disabled class="AddSkater" sbCall="tmeAddSkater">Add Skater</button></td>
      </tr>
    </thead>
    <tbody>
      <tr sbForeach="Skater:: rosterNumber: resort=RosterNumber,onInsert=tmeSkaterCount" class="Skater" sbAttr="rosterNumber: RosterNumber">
        <td class="RosterNumber"><input type="text" size="5" sbControl="RosterNumber" /></td>
        <td class="Name"><input type="text" size="20" sbControl="Name" /></td>
        <td class="Pronouns"><input type="text" size="10" sbControl="Pronouns" /></td>
        <td class="Flags">
          <select class="Flags" sbControl="Flags">
            <option value="">Skater</option>
            <option value="ALT">Not Skating</option>
            <option value="C">Captain</option>
            <option value="A">Alt Captain</option>
            <option value="BA">Bench Alt Captain</option>
            <option value="B">Bench Staff</option>
          </select>
        </td>
        <td class="Remove"><button class="RemoveSkater" sbCall="tmeOpenRemoveSkaterDialog">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="sbTemplates">
  <div id="StoreTeamDialog" class="sbSegment">
    <div class="sbGroup">
      <span>Merge into: </span>
      <select>
        <option value="">None</option>
        <option
          sbForeach="PreparedTeam:: name: resort=Name"
          sbContext="/ScoreBoard"
          sbAttr="name: FullName | value: Id"
          sbDisplay="FullName"
        ></option>
      </select>
    </div>
  </div>

  <div id="AlternateNamesDialog" class="sbSegment">
    <div class="sbGroup">
      <span>Type: <input id="newType" type="text" sbOn="focus: tmeStartAutocomplete" /></span>
      <span>Name: <input id="newName" type="text" sbOn="keypress: tmeAddAlternateName" /></span>
      <button sbCall="tmeAddAlternateName">Add</button>
    </div>
    <table class="sbGroup">
      <thead class="sbHeader">
        <tr>
          <th class="Id">Type</th>
          <th class="Name">Name</th>
          <th class="X"></th>
        </tr>
      </thead>
      <tbody>
        <tr sbForeach="AlternateName:::noId">
          <td class="Id" sbDisplay=": tmeGetAlternateNameId"></td>
          <td class="Name"><input type="text" size="20" sbControl=" " /></td>
          <td class="X"><button sbSet=": null">X</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="ColorsDialog" class="sbSegment">
    <div class="sbGroup">
      <span
        >Type: <input id="newType" type="text" size="15" sbOn="focus: tmeStartAutocomplete" /> <button sbCall="tmeAddColor">Add</button>
      </span>
    </div>
    <table class="sbGroup">
      <thead class="sbHeader">
        <tr>
          <th class="Id">Id</th>
          <th class="Color">Text/Icons</th>
          <th class="Color">Background</th>
          <th class="Color">Glow/Halo</th>
          <th class="X"></th>
        </tr>
      </thead>
      <tbody>
        <tr sbForeach="Color:::part=1, noContext, noId">
          <td class="Id" sbDisplay=": tmeToColorType"></td>
          <td sbForeach="Color:fg,bg,glow:only:filter=^, noId" class="Color">
            <input type="color" sbClass="cleared:: sbIsEmpty" sbControl=":tmeDefaultColorIfEmpy" />
            <button class="ClearPrev" sbSet=": null">X</button>
          </td>
          <td class="X"><button sbCall="tmeClearColor">X</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="RemoveSkaterDialog" sbContext="Skater(*)" class="sbSegment">
    <div class="sbGroup">
      <div>
        <span class="Title">Team: </span><span class="Title" sbDisplay="^FullName"></span><br />
        <span class="Remove">Remove Skater: </span>
        <span class="Target" sbDisplay="RosterNumber"></span><br />
        <span class="Name">(Skater Name: <span sbDisplay="Name"></span>)</span>
      </div>
    </div>
    <div class="sbGroup"><span class="AreYouSure">Are you sure?</span></div>
  </div>

  <div id="RemoveAllSkatersDialog" class="sbSegment">
    <div class="sbGroup">
      <div>
        <span class="Title">Team: </span><span class="Title" sbDisplay="FullName"></span><br />
        <span class="Remove">Remove All Skaters</span>
      </div>
    </div>
    <div class="sbGroup"><span class="AreYouSure">Are you sure?</span></div>
  </div>
</div>
