<div id="Team" class="TeamContext">
  <table class="Team">
    <tr class="Name">
      <td colspan="3">
        <span sbClass="Hide: ^State: === 'Prepared'" sbDisplay="FullName"></span>
        <select sbControl="PreparedTeam" sbClass="Hide: ^State: !== 'Prepared'">
          <option value="">Custom Team</option>
          <option
            sbForeach="PreparedTeam:: compareName: resort=Name"
            sbContext="/ScoreBoard"
            sbAttr="name: FullName | value: Id"
            sbDisplay="FullName"
          ></option>
        </select>
        <button class="SyncButton" sbToggle="PreparedTeamConnected" sbClass="Hide: PreparedTeam: !">Sync Changes</button>
        <button class="StoreButton Hide" sbCall="openStoreDialog" sbClass="Hide: PreparedTeam: !==''">Store Team</button>
      </td>
    </tr>
    <tr class="Control">
      <td>
        <select sbControl="Logo">
          <option value="">No Logo</option>
          <option
            sbForeach="File::compareName: resort=Name"
            sbContext="/ScoreBoard.Media.Format(images).Type(teamlogo)"
            sbAttr="name: Name | value::toMediaPath"
            sbDisplay="Name"
          ></option>
        </select>
        <input type="file" id="teamLogoUpload" class="Hide" />
        <button sbCall="triggerUpload">Upload...</button>
      </td>
      <td><button sbCall="openAlternateNamesDialog">Alternate Names</button></td>
      <td><button sbCall="openColorsDialog">Colors</button></td>
    </tr>
    <tr class="League">
      <td class="LogoPreview" rowspan="3"><img sbAttr="src: Logo" /></td>
      <td class="Label"><span>League: </span></td>
      <td class="Value"><input type="text" class="Name" size="30" sbControl="LeagueName" /></td>
    </tr>
    <tr class="LTeam">
      <td class="Label"><span>Team: </span></td>
      <td class="Value"><input type="text" class="Name" size="30" sbControl="TeamName" /></td>
    </tr>
    <tr class="Color">
      <td class="Label">
        <span sbClass="Hide:: isPrepared">Uniform Color: </span><span sbClass="Hide:: notPrepared">Uniform Colors: </span>
      </td>
      <td class="Value">
        <span id="PreparedUc" class="Hide" sbClass="Hide: PreparedTeam: !" sbPrefix="t:cur">
          <select
            sbForeach="PreparedTeam"
            sbContext="/ScoreBoard"
            sbAttr="team: Id"
            sbClass="Hide: t.PreparedTeam: isSelectorTeam"
            sbControl="t.UniformColor, UniformColor(*): filterOtherUc"
          >
            <option value="">Other</option>
            <option sbForeach="UniformColor::compareValue:noId" sbAttr="value:" sbDisplay=""></option>
          </select>
        </span>
        <input type="text" class="Name" size="15" sbClass="Hide: UniformColor: isNotOtherUc" sbControl="UniformColor" />
        <span sbClass="Hide:: notPrepared">
          <span sbForeach="UniformColor:: compareName:noId" sbAttr="name:" class="RemoveColor">
            <span sbDisplay=""></span>
            <button sbSet=": null">X</button>
          </span>
        </span>
        <input type="text" id="newUc" class="Name" size="15" sbClass="Hide:: notPrepared" />
        <button sbClass="Hide:: notPrepared" sbCall="addNewUc">Add</button>
      </td>
    </tr>
    <tr class="Skaters">
      <td colspan="3">
        <table class="Skaters Empty">
          <col class="RosterNumber" />
          <col class="Name" />
          <col class="Pronouns" />
          <col class="Flags" />
          <col class="Button" />
          <thead>
            <tr>
              <th></th>
              <th class="Title">Skaters</th>
              <th></th>
              <th id="skaterCount" sbDisplay="Skater(*).Flags: skaterCount">0 skating</th>
              <th></th>
            </tr>
            <tr>
              <th>Number</th>
              <th>Name</th>
              <th>Pronouns</th>
              <th>Flags</th>
              <th>Add</th>
            </tr>
            <tr class="AddSkater">
              <th><input type="text" size="5" class="RosterNumber" /></th>
              <th><input type="text" size="20" class="Name" /></th>
              <th><input type="text" size="10" class="Pronouns" /></th>
              <th>
                <select class="Flags">
                  <option value="">Skater</option>
                  <option value="ALT">Not Skating</option>
                  <option value="C">Captain</option>
                  <option value="A">Alt Captain</option>
                  <option value="BA">Bench Alt Captain</option>
                  <option value="B">Bench Staff</option>
                </select>
              </th>
              <th><button class="AddSkater" sbCall="addSkater">Add Skater</button></th>
            </tr>
            <tr>
              <th colspan="5"><hr /></th>
            </tr>
          </thead>
          <tbody>
            <tr sbForeach="Skater:: compareRosterNumber: resort=RosterNumber" class="Skater" sbAttr="rosterNumber: RosterNumber">
              <td class="RosterNumber"><input type="text" size="5" sbControl="RosterNumber" /></td>
              <td class="Name"><input type="text" size="20" sbControl="Name" /></td>
              <td class="Pronouns"><input type="text" size="10" sbControl="Pronouns" /></td>
              <td class="Flags">
                <select class="Flags" sbControl="Flags">
                  <option value="">Skater</option>
                  <option value="ALT">Not Skating</option>
                  <option value="C">Captain</option>
                  <option value="A">Alt Captain</option>
                  <option value="BA">Bench Alt Captain</option>
                  <option value="B">Bench Staff</option>
                </select>
              </td>
              <td class="Remove"><button class="RemoveSkater" sbCall="openRemoveSkaterDialog">Remove</button></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>

<div id="Templates">
  <div id="StoreTeamDialog">
    <span>Merge into: </span
    ><select>
      <option value="">None</option>
      <option
        sbForeach="PreparedTeam:: compareName: resort=Name"
        sbContext="/ScoreBoard"
        sbAttr="name: FullName | value: Id"
        sbDisplay="FullName"
      ></option>
    </select>
  </div>

  <div id="AlternateNamesDialog" class="TeamContext">
    <span>Type: </span><input id="newType" type="text" /> <span>Name: </span><input id="newName" type="text" />
    <button sbCall="addAlternateName">Add</button>
    <table>
      <thead>
        <tr>
          <th class="X">X</th>
          <th class="Id">Id</th>
          <th class="Name">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr sbForeach="AlternateName:::noId">
          <td class="X"><button sbSet=": null">X</button></td>
          <td class="Id" sbDisplay=": getAlternateNameId"></td>
          <td class="Name"><input type="text" size="20" sbControl="" /></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="ColorsDialog" class="TeamContext">
    <span>Type: </span><input id="newType" type="text" size="10" />
    <button sbCall="addColor">Add</button>
    <table>
      <thead>
        <tr>
          <th class="X"></th>
          <th class="Id">Id</th>
          <th class="Color">Text/Icons</th>
          <th class="Color">Background</th>
          <th class="Color">Glow/Halo</th>
        </tr>
      </thead>
      <tbody>
        <tr sbForeach="Color:::part=1, noContext, noId">
          <td class="X"><button sbCall="clearColor">X</button></td>
          <td class="Id" sbDisplay=": toColorType"></td>
          <td sbForeach="Color:fg,bg,glow:only:filter=^, noId" class="Color">
            <input type="color" sbClass="cleared:: empty" sbControl=":defaultColorIfEmpy" />
            <button class="ClearPrev" sbSet=": null">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="RemoveSkaterDialog">
    <span class="Title"></span><br />
    <span class="Remove">Remove Skater: </span>
    <span class="Target"></span><br />
    <span class="Name"></span><br />
    <hr />
    <span class="AreYouSure">Are you sure?</span><br />
  </div>
</div>
