#SheetsTab .SheetSelector .Selectors { display: grid; grid: auto auto / auto auto auto auto; gap: 2px; }
#SheetsTab .SheetSelector .TeamWrapper { display: contents; }
#SheetsTab .SheetSelector .Name { place-self: center right; }