<div class="SheetSelector sbSegment">
  <div class="sbGroup">
    <div class="Selectors">
      <div sbForeach="Team: 1,2: only" class="TeamWrapper">
        <span class="Name"><span sbDisplay="Name:"></span>:</span>
        <button sbCall="shtSelectSheet">Scores</button>
        <button sbCall="shtSelectSheet">Lineups</button>
        <button sbCall="shtSelectSheet">Penalties</button>
      </div>
    </div>
  </div>
</div>

<div class="sbSegmentGroup" sbSheetStyle="sheet">
  <div sbForeach="Team: 1,2: only" sbInclude="/components/sk-sheet/" class="Sheet Scores sbHide"></div>
  <div sbForeach="Team: 1,2: only" sbInclude="/components/lt-sheet/" class="Sheet Lineups sbHide"></div>
  <div sbForeach="Team: 1,2: only" sbInclude="/components/plt-input/" class="Sheet Penalties sbHide"></div>
</div>
