<!DOCTYPE HTML>
<html><head><title>CRG ScoreBoard Bout Timeline</title>

<script type="text/javascript" src="/external/jquery/jquery.js"></script>
<script type="text/javascript" src="/javascript/scoreboard.js"></script>

<script type="text/javascript" >

var pxPerMs = 0.001;

function createTimeline(d) {
  d.addClass("timeline");
  $("<div>").appendTo(d)
    .addClass("timelineLabel")
    .css({ border: "1px solid black", left: "0%", width: "30%" });
  var view = $("<div>").appendTo(d)
    .addClass("timelineView")
    .css({ border: "1px solid black", right: "0%", width: "70%", overflow: "hidden" });
  $("<div>").appendTo(view)
    .addClass("timelineDrag")
    .data("startTime", "0")
    .css({ border: "1px solid black" })
    .draggable({ axis: "x" });
  return setEndTime(d, 1000);
}

function setEndTime(topD, t) {
  var d = topD.find(".timelineDrag,.timelineRunning");
  d.each(function() { setEndPosition($(this), t); });
  return topD;
}

function setEndPosition(e, t) {
  var spanTime = t - e.data("startTime");
  return e.data("spanTime", spanTime).css("width", (pxPerMs*spanTime)+"px");
}

function addBar(topD) {
  var d = topD.find(".timelineDrag");
  var bar = $("<div>").appendTo(d)
    .addClass("timelineBar")
    .css({ width: "100%" });
  var bars = d.children(".timelineBar");
  bars.css({ height: (100 / bars.length)+"%" });
  bars.removeClass("even odd").filter(":even").addClass("even").end().filter(":odd").addClass("odd");
  return bar;
}

function removeBar(bar) {
  var bars = bar.parent().children(".timelineBar").not(bar);
  bar.remove();
  bars.css({ height: (100 / bars.length)+"%" });
  bars.removeClass("even odd").filter(":even").addClass("even").end().filter(":odd").addClass("odd");
  return bar;
}

function eventStart(bar, t, l) {
  return $("<div>").appendTo(bar)
    .addClass("timelineEvent timelineRunning")
    .css({ top: "0%", height: "100%", left: (pxPerMs*t)+"px", width: "0px" })
    .html(l);
}

function eventEnd(event, t) {
  return setEndPosition(event.removeClass("timelineRunning"), t);
}

function addMarker(bar, t, l) {
  $("<div>").appendTo(bar)
    .css({ left: (pxPerMs*t)+"px", borderLeftStyle: "dotted", borderLeftWidth: "1px", borderLeftColor: "grey", opacity: "50%" })
    .addClass("timelineMarker").data("time", t).html(l);
  return bar;
}

var positions = [ "Pivot", "Blocker1", "Blocker2", "Blocker3", "Jammer" ];

$(function() {
  var d = createTimeline($("div#timeline"));

  addBar(d).addClass("periodBar");
  addBar(d).addClass("jamBar");
  $.each([ 1, 2 ], function() {
    var t = this;
    $.each(positions, function() {
      addBar(d).addClass("teamBar team"+t+" position"+this);
    });
  });

  var periodClockChange = function(r) {
    if (r.$sbIs("true"))
      eventStart($(".periodBar"), r.$sb("At").$sbGet(), "Period "+r.$sb("Number").$sbGet()).addClass("currentPeriodEvent");
    else
      eventEnd($(".currentPeriodEvent"), r.$sb("At").$sbGet()).removeClass("currentPeriodEvent");
  };

  $sb("Stats.Clock(Period)").live("add:Running", function(event, r) { periodClockChange(r); });
  $sb("Stats.Clock(Period)").children("Running").each(function() { periodClockChange($sb(this)); });
});

</script>

<style type="text/css" >

div.timeline>div { position: absolute; }
.timelineLabel,.timelineView,.timelineDrag { top: 0%; height: 100%; }
.timelineMarker { position: absolute; }

.timelineBar.even { background: #eee; }
.timelineBar.odd { background: #ddd; }

.timeline-highlight-decorator~.timeline-highlight-label { font-size: 100%; }

</style>

<body>

<div id="timeline" style="position: fixed; left: 0%; top: 40px; width: 100%; height: 600px" >
</div>

</body>

</html>
