html { height: 100%; width: 100%; } 
body { margin: 0 auto; } 

.preload * { transition: none !important; } 

body { font-family: 'Ubuntu', 'LiberationSans', helvetica; font-weight: bold; margin: 0; padding: 0; overflow: hidden; } 
div { white-space: nowrap; display: block; padding: 0; margin: 0; overflow: hidden; } 

.barBackgroundTop { background: silver; background: linear-gradient(to bottom, #eee, #ddd 30%, #ccc 60%, #bbb); } 

.barBackgroundBottom { background: silver; background: linear-gradient(to bottom, #bbb, #ccc 30%, #ddd 60%, #eee); } 

#sb>div.Team>div.Lead>a.ToggleLead { color: #bbb; } 
#sb>div.Team>div.Lead.IsLead>a.ToggleLead { color: red; } 
#sb>div.Team>div.Timeouts>div.Timeout { background: #3488ff; } 
#sb>div.Team>div.Timeouts>div.OfficialReview { background: white; } 
#sb>div.Team>div.Timeouts>div.Timeout.Pulse,
#sb>div.Team>div.Timeouts>div.OfficialReview.Pulse { background: red; } 

.Wrapper { clear: both; box-sizing: border-box; } 
.Box { float: left; margin: 0; padding: 0; position: relative; display: block; } 

/* Team Boxes */
.Teambox .Indicator { width: 4%; height: 100%; font-size: 45%; float: left; text-align: center; } 

.Team .Name { width: 67%; padding-left: 2%; border-left: 2px solid #666; } 
.Team .Score { width: 18%; text-align: right; padding-right: .1em; font-size: 90%; } 
.Team .Mini { width: 8%; font-size: 45%; line-height: 99%; padding-top: 12px; } 
.Team .Mini .JamScore { width: 100%; text-align: center; } 

.Team .Lead { opacity: .2; } 
.Team .HasLead { opacity: 1; color: red; } 

.Team .DotTimeouts { width: 3%; padding-top: 2px; } 

.Dot { width: .15em; height: .15em; margin: .05em 0 0 0; } 
.Dot, .Dot.Active { border-radius: 100%; } 

.Dot { background: #333; } 
.Dot.OfficialReview1 { background: #fff; } 
.Dot.OfficialReview1.Retained { margin-left: .2em; } 
.Dot.Active { opacity: 0; animation: DotActive 0.75s infinite steps(6); -moz-animation: DotActive 0.75s infinite steps(6); -webkit-animation: DotActive 0.75s infinite steps(6); } 
.Dot.Used { opacity: 0; } 

@-moz-keyframes DotActive { 
 0% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; } 
 }
@-webkit-keyframes DotActive { 
 0% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; } 
 }
@keyframes DotActive { 
 0% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; } 
 }

.ShowJammers .Team .JammerBox.Clock { width: 80%; position: absolute; margin-left: -60%; background: #999; height: 50%; border-radius: 10px 10px; color: white; text-align: right; padding-right: 20px } 

.ClockBox .Name { width: 49%; } 
.ClockBox .Time { width: 49%; } 
.ClockBox .Time.ShowInIntermission { width: 100%; } 

.BottomClock .Name { width: 100%; text-align: center; height: 2em; } 
.BottomClock .Time { width: 100%; text-align: center; height: 5em; } 

.ClockBox .ClockDescription { width: 100%; color: white; font-size: 1em; text-align: center; text-transform: uppercase; width: 100%; } 
.ClockBox .ClockDescription.Show { padding: 2px 0; } 

.Clock { margin-left: -9999em; float: left; } 
.Clock.Show { margin-left: 0; } 

.JammerBox, .JammerBox.Show { margin-left: -100%; } 
.ShowJammers .JammerBox.Show { margin-left: 0; z-Index: -3; } 

.ClockNames { width: 100%; } 
.ClockNames > .Box { float: left; text-align: center; } 

.BottomRow { border-radius: 0 0 10px 10px; } 

.ClockBarTop { font-size: 1.4em; } 
.ClockBarBottom { font-size: 1.7em; } 
.ClockBarMiddle.SlideDown { background: #888; padding: 0; } 


.SlideDown { -webkit-transition: max-height 1s ease; width: 100%; overflow: hidden; padding: 0; transition: max-height 1s ease; width: 100%; overflow: hidden; padding: 0; } 
.SlideDown { max-height: 0; } 

.ClockBarTop.SlideDown.Show { max-height: 2em; } 
.ClockBarMiddle.SlideDown.Show { max-height: 1.2em; } 

#sb .SlideDown { background-color: #888; } 

.ClockBox { background: #ccc; } 

.Wrapper.Row.ClockNames,
.Wrapper.Row.BottomRow { width: 100%; padding: 2% 5%; } 

.Wrapper.Row.ClockBarTop { padding: 0; } 
.Wrapper.Row.ClockBarTop.Show { width: 100%; padding: 2% 5%; } 

html > body div.Wrapper .TextLeft { text-align: left !important; } 
html > body div.Wrapper .TextRight { text-align: right !important; } 
html > body div.Wrapper .TextCenter { text-align: center !important; } 
html > body div.Wrapper .FloatLeft { float: left !important; } 
html > body div.Wrapper .FloatRight { float: right !important; right: 0; } 


.AnimatedPanel { position: absolute; display: block; overflow: hidden; padding: 0; } 
.AnimatedPanel.LargePanel { width: 75%; top: 15%; margin: 0 auto; } 
.AnimatedPanel.MediumPanel { bottom: 5%; width: 20%; height: 8em; top: auto; border-radius: 10px; left: 40%; } 
.AnimatedPanel.LowerThird { top: 80%; left: 0; text-align: right; min-width: 45%; width: auto; } 

.TeamBox { top: 2%; left: min(10%, 115px); font-size: 1.8em; line-height: 100%; width: 23em; } 
.TeamBox.Wide { width: 24.5em; } 
.TeamBox.XWide { width: 35em; } 

.TeamBox .Team { float: left; -webkit-transition: border-radius 1s; transition: border-radius 1s; } 
.TeamBox .JammerBox { float: left; -webkit-transition: margin-left 2s; transition: margin-left 2s; } 

.TeamBox .Team { width: 12em; } 

.TeamBox .JammerWrapper { overflow: hidden; position: relative; } 

.TeamBox .JammerBox { width: 100%; } 

.TeamBox .JammerBox .JammerName,
.TeamBox .Team .Name { text-align: left; overflow: hidden; font-size: 80%; } 

.TeamBox .Indicator { width: 1.6em; height: 1.3em; text-align: center; font-size: 75%; }
.TeamBox.Lineups .Indicator { display: none; }

.TeamBox .JammerBox { font-size: 50%; text-align: left; } 
.TeamBox.Lineups .JammerBox { display: flex; width: 100%; } 
.TeamBox .JammerBox>div { font-size: 80%; padding: 0px 2px; min-height: 100%; flex: 15; display: flex; justify-content: space-around; } 
.TeamBox.Lineups .JammerBox.JammerNames>.Jamming, .TeamBox.Lineups .JammerBox.AllNames>div { flex: 40; } 
.TeamBox .JammerBox .Penalties:not(:empty) { padding-left: 5px; } 
.TeamBox.Lineups .JammerBox>div.Border { border-left: solid #ccc 1px; padding: 0; margin: 0px 2px; flex: none; } 
.TeamBox.Lineups .JammerBox.AllNames .Jamming:before, .TeamBox.Lineups .JammerBox:not(.JammerNames) .Jamming:before, .TeamBox.Lineups .JammerBox.JammerNames:not(.AllNames) .Jamming .Name:empty:before { content: "★"; } 
.TeamBox.Lineups .Lead .JammerBox .Jamming { color: #f00; animation: HasLead 2s infinite steps(12); -moz-animation: HasLead 2s infinite steps(12); -webkit-animation: HasLead 2s infinite steps(12); } 
.TeamBox.Lineups .JammerBox .Penalized:not(.InBox) { background-color: #0cc; color: #000; } 
.TeamBox.Lineups .JammerBox .InBox { background-color: #c00; } 
.TeamBox:not(.Lineups) .JammerBox>:not(.Jamming), .TeamBox:not(.Lineups) .JammerBox .Number, .TeamBox:not(.Lineups) .JammerBox .Penalties,
.TeamBox.Lineups .JammerBox.JammerNames>.Jamming>.Number, .TeamBox.Lineups .JammerBox.AllNames>:not(.Jamming)>.Number,
.TeamBox.Lineups .JammerBox:not(.JammerNames)>.Jamming>.Name, .TeamBox.Lineups .JammerBox:not(.AllNames)>:not(.Jamming)>.Name { display: none; } 
@-moz-keyframes HasLead { 
 0% { color: #FF0000; } 50% { color: #FFFFFF; } 100% { color: #FF0000; } 
 }
 @-webkit-keyframes HasLead { 
 0% { color: #FF0000; } 50% { color: #FFFFFF; } 100% { color: #FF0000; } 
 }
 @keyframes HasLead { 
 0% { color: #FF0000; } 50% { color: #FFFFFF; } 100% { color: #FF0000; } 
 }
 
.TeamBox .Team { border-right: 2px solid #333; } 

.TeamBox .Team1 .Team { border-radius: 0 8px 0 0; } 
.TeamBox .Team2 .Team { border-radius: 0 0 8px 0; } 
.TeamBox.Lineups .Team1 .Team { border-radius: 8px 0 0 0; } 
.TeamBox.Lineups .Team2 .Team { border-radius: 0 0 0 8px; } 

.TeamBox .Team1 .Indicator { border-radius: 8px 0 0 0; } 
.TeamBox .Team2 .Indicator { border-radius: 0 0 0 8px; } 

.TeamBox .JammerBox { border-radius: 0 8px 8px 0; } 

.ShowJammers .TeamBox:not(.Lineups)  .Team { border-radius: 0; } 

.ShowJammers[Clock="Jam"] .TeamBox .Team1 .Team { border-radius: 8px 0 0 0; } 
.ShowJammers[Clock="Jam"] .TeamBox .Team2 .Team { border-radius: 0 0 0 8px; } 

.AnimatedPanel.TopClock { top: 2%; right: min(10%, 115px); width: 10em; border-radius: 10px; } 

#sb[Clock="Intermission"] .AnimatedPanel.TopClock .ClockNames { position: absolute; } 

/* fix this one..*/
.OverlayPanel.BottomClock { left: 40%; } 

.PanelWrapperLeft .AnimatedPanel { -webkit-transform: translateY(-50%); transform: translateY(-50%); } 
.PanelWrapperCenter .AnimatedPanel { margin: 0 auto; left: 50%; right: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); } 

.OverlayPanel h1,
.OverlayPanel h2 { background: #666; display: block; padding: 10px; color: white; } 

.OverlayPanel h1 { font-size: 1.8em; line-height: 2em; border-radius: 10px 10px 0 0; text-transform: uppercase; text-align: center; background: #000; color: white; margin-bottom: 0; } 
.OverlayPanel h2 { font-size: 1.4em; line-height: 1.6em; border-radius: 0 0 10px 10px; text-transform: uppercase; text-align: center; background: #333; color: white; margin-top: 0; } 

.OverlayPanel h4 { background: #333; color: white; border-radius: 0 10px 0 0; margin: 0; padding: 2%; font-size: 2em; } 
.OverlayPanel h5 { background: #ddd; color: #333; border-radius: 0 0 10px 0; margin: 0; padding: 2%; font-size: 1.2em; } 

.OverlayPanel h4.htop { border-radius: 0; } 
.OverlayPanel h4.hbottom { border-radius: 0 0 10px 10px; } 


.OverlayPanel h1, .OverlayPanel h2 { margin-left: 10%; margin-right: 0; } 
.NoLogo h1, .NoLogo h2 { margin-left: 0; } 
.NoLogo img { display: none; } 


.PPJBox h4 { text-transform: uppercase; text-align: center; font-size: 1.4em; } 

.PPJContainer { background: #ccc; padding: 10px; } 
.PPJBox .Team1 { border-bottom: 1px solid #777; } 
.PPJBox .Team2 { border-top: 1px solid #777; } 

.PPJBox .Team { height: 23vh; } 
.PPJBox .Period { height: 23vh; position: relative; display: block; float: left; } 
.PPJBox .Period2 { border-left: 2px solid #777; } 

.JammerStar { text-align: center; color: #ddd; position: absolute; font-size: 1.6em; font-weight: normal; } 
.Points { width: 100%; text-align: center; color: #333; position: absolute; font-size: 1.6em; font-weight: normal; height: 2em; } 

.Team1 .Points { top: 0vh; } 
.Team1 .JammerStar { top: 3vh; } 
.Team2 .JammerStar { top: 15vh; } 
.Team2 .Points { top: 20vh; } 

.GraphBlock[lead=true][lost=true] .JammerStar { color: #666; } 
.GraphBlock[lead=true][lost=true] .JammerStar:after { content: '\02297'; } 

.GraphBlock[lead=true] .JammerStar { color: #666; } 
.GraphBlock[lead=true] .JammerStar:after { content: '\02605'; } 

.Skater .Flags[data-flag="C"]:after { content: 'C'; visibility: visible; } 
.Skater .Flags[data-flag="AC"]:after { content: '\00040'; visibility: visible; } 
.Skater .Flags[data-flag="BC"]:after { content: 'B'; visibility: visible; } 
.Skater .Flags[data-flag="ALT"]:after { content: '\02717'; visibility: visible; } 

.GraphBlock { display: block; float: left; width: 10px; background: #888; margin: 0 2px; font-size: 60%; text-align: center; } 
.PPJBox .Period2 .GraphBlock { background: #999; } 

.Team1 .GraphBlock { margin-top: 1px; } 
.Team2 .GraphBlock { margin-bottom: 1px; } 

.RosterTeam .Team .Skater { width: 48%; float: left; background: #ccc; overflow: hidden; } 
.RosterTeam .Team .Skater:nth-child(odd) { margin-right: 4%; } 

.RosterTeam .Team .Skater .Number { width: 15%; background: #ccc; background: #888; color: white; text-align: center; } 
.RosterTeam .Team .Skater .Name { width: 72%; } 
.RosterTeam .Team .Skater .Flags { width: 8%; float: left; vertical-align: middle; text-align: center; border-radius: 5px; color: #888; } 

.RosterTeam .Team .Skater { font-size: 1.5em; line-height: 1.8em; } 
.RosterTeam .Team .Skater .Number,
.RosterTeam .Team .Skater .Flags,
.RosterTeam .Team .Skater .Name { min-height: 1.7em; max-height: 1.7em; float: left; overflow: hidden; } 


.RosterTeam .Team .Skater:nth-child(1) .Number, .RosterTeam .Team .Skater:nth-child(2) .Number,
.RosterTeam .Team .Skater:nth-child(1), .RosterTeam .Team .Skater:nth-child(2) { border-radius: 10px 0 0 0; } 
.RosterTeam .Team .Skater:nth-last-child(1) .Number, .RosterTeam .Team .Skater:nth-last-child(2) .Number,
.RosterTeam .Team .Skater:nth-last-child(1), .RosterTeam .Team .Skater:nth-last-child(2) { border-radius: 0 0 0 10px; } 

.PenaltyTeam .SortBox { border-radius: 10px; } 
.PenaltyTeam .NoShow { display: none; } 

.PenaltyTeam .Team .Skater { width: 100%; font-size: 1.2em; line-height: 1.4em; height: 1.4em; } 
.PenaltyTeam .Team .Skater:nth-child(odd) { background: #ccc; } 
.PenaltyTeam .Team .Skater:nth-child(even) { background: #ddd; } 

.PenaltyTeam .Team .Number { float: left; width: 7%; padding-left: 2em; padding-right: 1em; color: #333; min-height: 100%; text-align: right; } 
.PenaltyTeam .Team .Name { float: left; width: 24%; color: #333; } 
.PenaltyTeam .Team .Penalty { float: left; width: 8%; } 

.PenaltyTeam .Skater { clear: both; } 
.PenaltyTeam .Skater .Penalty { display: block; padding: 0px 2px; background: #333; color: white; width: 2em; border-radius: 8px; text-align: center; margin-right: 10px; } 


.PenaltyTeam div[data-count="5"] .Penalty { background: darkorange; } 
.PenaltyTeam div[data-count="6"] .Penalty { background: orange; } 
.PenaltyTeam div[data-count="7"] .Penalty { background: red; } 
.PenaltyTeam div[data-count="8"] .Penalty { background: red; } 
.PenaltyTeam div[data-count="9"] .Penalty { background: red; } 
.PenaltyTeam div[data-count="10"] .Penalty { background: red; } 

.PenaltyTeam div[data-count="10"] .Name,
.PenaltyTeam div[data-count="10"] .Number,
.PenaltyTeam div[data-count="9"] .Name,
.PenaltyTeam div[data-count="9"] .Number,
.PenaltyTeam div[data-count="8"] .Name,
.PenaltyTeam div[data-count="8"] .Number,
.PenaltyTeam div[data-count="7"] .Name,
.PenaltyTeam div[data-count="7"] .Number { text-decoration: line-through; color: red; } 

div.AnimatedPanel { -webkit-transition: -webkit-transform 1s ease-in-out, width 1s ease-in, height 1s ease-in; -webkit-transform-style: preserve-3d; -webkit-font-smoothing: subpixel-antialiased; transition: -webkit-transform 1s ease-in-out, width 1s ease-in, height 1s ease-in; transform-style: preserve-3d; } 

div.AnimatedPanel.PanelHideRight { -webkit-transform: translateX(200%); transform: translateX(200%); } 
div.AnimatedPanel.PanelHideLeft { -webkit-transform: translateX(-200%); transform: translateX(-200%); } 

div.AnimatedPanel.PanelHideRight.Show,
div.AnimatedPanel.PanelHideLeft.Show { -webkit-transform: translateX(-50%); transform: translateX(-50%); } 

div.PanelWrapperLeft .AnimatedPanel.Show { -webkit-transform: translateY(0); transform: translateY(0); } 

.AnimatedPanel.PanelHideTop { -webkit-transform: translateY(-160%); transform: translateY(-160%); } 
div.PanelWrapperCenter .AnimatedPanel.PanelHideTop.Show { -webkit-transform: translateY(-80%); transform: translateY(-80%); } 

div.PanelWrapperCenter .AnimatedPanel.PanelHideBottom { -webkit-transform: translateY(200%); transform: translateY(200%); } 
div.PanelWrapperCenter .AnimatedPanel.PanelHideBottom.Show,

div.PanelWrapperTop .AnimatedPanel.PanelHideTop.Show { -webkit-transform: translateY(5%); transform: translateY(5%); } 


.JammerWrapper .JammerBox { background: #333; color: white; } 

.TeamLogo { float: left; } 
.PenaltyTeam .TeamLogo { margin-bottom: .5em; } 
.RosterTeam .TeamLogo { margin-bottom: .5em; } 

.Upcoming { padding-top: 4em; } 
.Upcoming h1 { border-radius: 1em; } 

.Upcoming .UpcomingVS { padding: 1em; margin: 0 auto; width: 4em; background: white; color: red; font-size: 1em; border-radius: 1em; text-align: center; } 

.AnimatedPanel img { -webkit-transition: height 1s ease-in-out .3s; transition: height 1s ease-in-out .3s; } 
.AnimatedPanel img { height: 0; } 

.AnimatedPanel.Show img { height: 200px; } 

.PenaltyTeam.AnimatedPanel.Show img.TeamLogo { height: 164px; } 
.RosterTeam.AnimatedPanel.Show img.TeamLogo { height: 164px; } 

.PanelWrapperCenter .AnimatedPanel.LowerPart { margin-top: 10em; } 
.PanelWrapperCenter .RosterTeam.AnimatedPanel.LowerPart { margin-top: 10.5em; } 
.PanelWrapperCenter .PenaltyTeam.AnimatedPanel.LowerPart { margin-top: 10.5em; } 

div.AnimatedPanel.AnimationDelay { -webkit-transition: -webkit-transform 1s ease-in-out .3s; transition: -webkit-transform 1s ease-in-out .3s; } 
