<!DOCTYPE html>
<html>
  <head>
    <title>Stream Overlay | CRG ScoreBoard</title>
    <script type="text/javascript" src="/external/jquery/jquery.js"></script>
    <script type="text/javascript" src="/json/core.js"></script>

    <style type="text/css" title="jsStyle"></style>
  </head>
  <body
    class="preload"
    sbPrefix="$: ScoreBoard.Settings.Setting(Overlay.Interactive : )"
    sbCss="background-color: $.BackgroundColor: toBackground | font-size: $.Scaling: toPercent"
  >
    <div id="logo"></div>

    <div id="sb" sbContext="ScoreBoard.CurrentGame" class="JamScore StyleTraditional">
      <div class="PanelWrapperTop">
        <div
          class="TeamBox AnimatedPanel PanelHideTop Wrapper"
          sbClass="InJam: InJam | Show: $.Score: === 'On' | JammerNames: $.ShowJammers: === 'On' | AllNames: $.ShowAllNames: === 'On' | Lineups: $.ShowLineups: === 'On' | UseLT: /ScoreBoard.Settings.Setting(ScoreBoard.Penalties.UseLT)"
        >
          <div sbForeach="Team: 1,2: only" sbClass="Lead: DisplayLead">
            <div class="Indicator Box" sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)">
              <div class="Clock ShowInJam" sbDisplay="StarPass, Lead, Lost: toIndicator"></div>
            </div>
            <div class="Team Row barBackground">
              <div class="Name VerticalCenter Box" sbDisplay="AlternateName(overlay),Name"></div>
              <div class="Score VerticalCenter Box" sbDisplay="Score"></div>
              <div class="Mini Box">
                <div class="JamScore" sbDisplay="JamScore"></div>
              </div>
              <div class="DotTimeouts Box">
                <div class="Dot Timeout1" sbClass="Used: Timeouts: <1"></div>
                <div class="Dot Timeout2" sbClass="Used: Timeouts: <2"></div>
                <div class="Dot Timeout3" sbClass="Used: Timeouts: <3"></div>
                <div class="Dot OfficialReview1" sbClass="Retained: RetainedOfficialReview | Used: OfficialReviews: <1"></div>
              </div>
            </div>
            <div class="JammerWrapper">
              <div class="JammerBox ShowInJam Clock" sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)">
                <div
                  sbForeach="Position: Jammer, Pivot, Blocker1, Blocker2, Blocker3: only"
                  sbClass="InBox: PenaltyBox | Penalized: CurrentPenalties: !== ''"
                >
                  <div class="Name" sbDisplay="Name"></div>
                  <div class="Number" sbDisplay="RosterNumber"></div>
                  <div class="Penalties" sbDisplay="CurrentPenalties"></div>
                  <div class="Border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ClockBox TopClock AnimatedPanel PanelHideTop Wrapper" sbClass="Show: $.Clock: === 'On'">
          <div
            class="ClockBarTop Wrapper Row SlideDown ClockNames ShowInJam ShowInLineup ShowInTimeout ShowInIntermission ShowInNoClock barBackgroundTop"
          >
            <div
              class="Box TextLeft Name"
              sbDisplay="Clock(Period).Name,Clock(Period).Number,Rule(Period.Number): toClockInitialNumber"
            ></div>
            <div
              class="Box TextRight Clock ShowInJam ShowInIntermission ShowInLineup ShowInTimeout Name"
              sbContext="Clock(Jam)"
              sbDisplay="Name,Number: toClockInitialNumber"
            ></div>
          </div>

          <div
            class="ClockBarMiddle Wrapper SlideDown ShowInIntermission ShowInLineup ShowInTimeout ShowInNoClock Box BigName ClockDescription"
            sbPrefix="#: ScoreBoard.Settings.Setting(ScoreBoard.Intermission : )"
            sbDisplay="Clock.(Intermission).Number, Clock(*).Running, TimeoutOwner, OfficialReviews, #.PreGame, #.Intermission, #.Unofficial, #.Official, #.OfficialWithClock, OfficialScore, ClockDuringFinalScore, Rule(Period.Number): toClockType"
          ></div>
          <div class="ClockBarBottom Wrapper Row BottomRow barBackgroundBottom">
            <div
              class="Box TextLeft Time Clock Show ShowInJam ShowInLineup ShowInTimeout"
              sbContext="Clock(Period)"
              sbDisplay="Time, Direction: toTime"
            ></div>
            <div
              class="Box BoxLarge TextCenter Time Intermission Clock ShowInIntermission"
              sbContext="Clock(Intermission)"
              sbDisplay="Time, Direction: toTime"
            ></div>
            <div class="Box TextRight Time Clock Show ShowInJam" sbContext="Clock(Jam)" sbDisplay="Time, Direction: toTime"></div>
            <div class="Box TextRight Time Clock ShowInLineup" sbContext="Clock(Lineup)" sbDisplay="Time, Direction: toTime"></div>
            <div class="Box TextRight Time Clock ShowInTimeout" sbContext="Clock(Timeout)" sbDisplay="Time, Direction: toTime"></div>
          </div>
        </div>
      </div>

      <div class="PanelWrapperCenter">
        <div class="ClockBox Wrapper OverlayPanel PanelHideBottom MediumPanel AnimatedPanel">
          <div class="Wrapper Clock SlideDown ShowInIntermission ShowInLineup ShowInTimeout">
            <div
              class="Box BigName ShowInIntermission Clock"
              sbPrefix="#: ScoreBoard.Settings.Setting(ScoreBoard.Intermission : )"
              sbDisplay="#.PreGame, #.Intermission, #.Unofficial, #.Official, #.OfficialWithClock, OfficialScore, ClockDuringFinalScore, Clock(Intermission).Number, Rule(Period.Number): intermissionDisplay"
            ></div>
            <div
              class="Box BoxLarge TextCenter Time Clock ShowInIntermission"
              sbContext="Clock(Intermission)"
              sbDisplay="Time, Direction: toTime"
            ></div>
          </div>
        </div>

        <div class="PPJBox Wrapper PanelHideLeft OverlayPanel LargePanel AnimatedPanel NoLogo" sbClass="Show: $.Panel: ==='PPJBox'">
          <h1>Points Per Jam</h1>
          <h4
            class="htop"
            sbContext="Team(1)"
            sbDisplay="AlternateName(overlay),Name"
            sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)"
          ></h4>
          <div class="PPJContainer Wrapper" sbPrefix="t: ScoreBoard.CurrentGame.Team">
            <div class="Wrapper Team Team1">
              <div class="Period" sbForeach="Period">
                <div
                  class="ColumnWidth GraphBlock"
                  sbForeach="Jam"
                  sbClass="Lead: TeamJam(1).Lead | Lost: TeamJam(1).Lost"
                  sbCss="height: TeamJam(1).JamScore: toPpjColumnHeight | width: ScoreBoard.CurrentGame.Clock(Jam).Number: toPpjColumnWidth | margin-top: TeamJam(1).JamScore: toPpjMargin | background: t(1).Color(overlay.bg)"
                >
                  <div class="JammerStar ColumnWidth"></div>
                  <div class="Points ColumnWidth" sbDisplay="TeamJam(1).JamScore"></div>
                </div>
              </div>
            </div>
            <div class="Wrapper Team Team2">
              <div class="Period" sbForeach="Period">
                <div
                  class="ColumnWidth GraphBlock"
                  sbForeach="Jam"
                  sbClass="Lead: TeamJam(2).Lead | Lost: TeamJam(2).Lost"
                  sbCss="height: TeamJam(2).JamScore: toPpjColumnHeight | width: ScoreBoard.CurrentGame.Clock(Jam).Number: toPpjColumnWidth | background: t(2).Color(overlay.bg)"
                >
                  <div class="JammerStar ColumnWidth"></div>
                  <div class="Points ColumnWidth" sbDisplay="TeamJam(2).JamScore"></div>
                </div>
              </div>
            </div>
          </div>
          <h4
            class="hbottom"
            sbContext="Team(2)"
            sbDisplay="AlternateName(overlay),Name"
            sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)"
          ></h4>
        </div>

        <div sbForeach="Team: 1,2: only">
          <div
            class="RosterTeam PanelHideLeft Wrapper OverlayPanel LargePanel AnimatedPanel"
            sbClass="NoLogo: Logo: empty | Show1: $.Panel: ==='RosterTeam1' | Show2: $.Panel: ==='RosterTeam2'"
          >
            <img class="TeamLogo" sbAttr="src: Logo" />
            <h1 sbDisplay="AlternateName(overlay),Name" sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)"></h1>
            <h2>Team Roster</h2>
          </div>
          <div
            class="RosterTeam LowerPart AnimationDelay PanelHideLeft Wrapper OverlayPanel LargePanel AnimatedPanel"
            sbClass="Show1: $.Panel: ==='RosterTeam1' | Show2: $.Panel: ==='RosterTeam2'"
          >
            <div class="Wrapper Team Team1 SortBox">
              <div
                class="Skater"
                sbForeach="Skater:: rosterNumber: resort=RosterNumber"
                sbClass="NoShow: Role: ==='NotInGame'"
                sbAttr="rosterNumber: RosterNumber"
              >
                <div
                  class="Number"
                  sbDisplay="RosterNumber: toNbspIfEmpty"
                  sbCss="color: ^Color(overlay.fg) | background: ^Color(overlay.bg)"
                ></div>
                <div class="Name" sbDisplay="Name: toNbspIfEmpty">&nbsp;</div>
                <div class="Flags" sbAttr="data-flag: Flag">&nbsp;</div>
              </div>
            </div>
          </div>

          <div
            class="PenaltyTeam PanelHideLeft Wrapper OverlayPanel LargePanel AnimatedPanel"
            sbClass="NoLogo: Logo: empty | Show1: $.Panel: ==='PenaltyTeam1' | Show2: $.Panel: ==='PenaltyTeam2'"
          >
            <img class="TeamLogo" sbAttr="src: Logo" />
            <h1>Penalty Board</h1>
            <h2 sbDisplay="AlternateName(overlay),Name" sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)"></h2>
          </div>
          <div
            class="PenaltyTeam AnimationDelay LowerPart PanelHideLeft Wrapper OverlayPanel LargePanel AnimatedPanel"
            sbClass="Show1: $.Panel: ==='PenaltyTeam1' | Show2: $.Panel: ==='PenaltyTeam2'"
          >
            <div class="Wrapper Team Team1 SortBox">
              <div
                class="Skater"
                sbForeach="Skater:: rosterNumber: resort=RosterNumber"
                sbClass="NoShow: Role: ==='NotInGame'"
                sbAttr="rosterNumber: RosterNumber"
              >
                <div
                  class="Number"
                  sbDisplay="RosterNumber: toNbspIfEmpty"
                  sbCss="color: ^Color(overlay.fg) | background: ^Color(overlay.bg)"
                ></div>
                <div class="Name" sbDisplay="Name: toNbspIfEmpty">&nbsp;</div>
                <div class="Penalties">
                  <div class="Penalty" sbForeach="Penalty" sbDisplay="Code" sbClass="NoShow: Id: == 0"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Upcoming PanelHideLeft Wrapper OverlayPanel LargePanel AnimatedPanel" sbClass="Show: $.Panel: ==='Upcoming'">
          <div sbContext="Team(1)" sbClass="NoLogo: Logo: empty">
            <img class="TeamLogo" sbAttr="src: Logo" style="float: left" />
            <h1
              sbDisplay="AlternateName(overlay),Name"
              sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)"
              style="margin-top: 2em; margin-left: 4em; margin-right: 0"
            ></h1>
          </div>
          <div class="UpcomingVS">VS</div>
          <div sbContext="Team(2)" sbClass="NoLogo: Logo: empty">
            <img class="TeamLogo" sbAttr="src: Logo" style="float: right" />
            <h1
              sbDisplay="AlternateName(overlay),Name"
              sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)"
              style="margin-top: 2em; margin-left: 0; margin-right: 4em"
            ></h1>
          </div>
        </div>
      </div>

      <div class="PanelWrapperLeft">
        <div class="LowerThird Wrapper OverlayPanel AnimatedPanel PanelHideLeft" sbClass="Show: $.Panel: ==='LowerThird'">
          <h4 class="Line1" sbDisplay="$.LowerThird.Line1" />
          <h5
            class="Line2"
            sbDisplay="$.LowerThird.Line2"
            sbCss="color: $.LowerThird.Style,Team(*).Color(overlay.fg): toLowerThirdColorFg | background: $.LowerThird.Style,Team(*).Color(overlay.bg): toLowerThirdColorBg"
          />
        </div>
      </div>
    </div>
  </body>
</html>
