<!DOCTYPE html>
<html sbPrefix="$: ScoreBoard.Settings.Setting(Overlay.Interactive : )" sbCss="font-size: $.Scaling: 'calc(' + v + ' * .12pt)'">
  <head>
    <title>Stream Overlay | CRG ScoreBoard</title>
    <script type="text/javascript" src="/external/jquery/jquery.js"></script>
    <script type="text/javascript" src="/json/core.js"></script>

    <style type="text/css" title="jsStyle"></style>
  </head>
  <body class="preload sbNoConnectionStatus" sbCss="background-color: $.BackgroundColor: ovlToBackground" sbOn="keyup: ovlHandleKey">
    <div id="logo"></div>

    <div id="sb" sbContext="ScoreBoard.CurrentGame" class="JamScore StyleTraditional">
      <div class="PanelWrapperTop">
        <div
          class="TeamBox AnimatedPanel PanelHideTop Wrapper"
          sbClass="InJam: InJam | Show: $.Score | ShowJammers: $.ShowJammers | ShowNames: $.ShowNames | Lineups: $.ShowLineups | PenaltyClocks: $.ShowPenaltyClocks | UseLT: /ScoreBoard.Settings.Setting(ScoreBoard.Penalties.UseLT)"
        >
          <div sbForeach="Team: 1,2: only" sbClass="Lead: DisplayLead">
            <div class="Indicator Box" sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)">
              <div class="Clock ShowInJam" sbDisplay="StarPass, Lead, Lost: ovlToIndicator"></div>
            </div>
            <div class="Team Row barBackground">
              <div class="Name VerticalCenter Box" sbDisplay="AlternateName(overlay),Name"></div>
              <div class="Score VerticalCenter Box" sbDisplay="Score"></div>
              <div class="Mini Box">
                <div class="JamScore" sbDisplay="JamScore"></div>
              </div>
              <div class="DotTimeouts Box">
                <div class="Dot Timeout1" sbClass="Used: Timeouts: <1"></div>
                <div class="Dot Timeout2" sbClass="Used: Timeouts: <2"></div>
                <div class="Dot Timeout3" sbClass="Used: Timeouts: <3"></div>
                <div class="Dot OfficialReview1" sbClass="Retained: RetainedOfficialReview | Used: OfficialReviews: <1"></div>
              </div>
            </div>
            <div class="JammerWrapper">
              <div class="JammerBox ShowInJam Clock" sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)">
                <div
                  sbForeach="Position: Jammer, Pivot, Blocker1, Blocker2, Blocker3: only"
                  sbClass="Jamming: ^StarPass: ovlIsJamming | InBox: PenaltyBox | Penalized: CurrentPenalties: !== '' | HasClock: PenaltyTime: sbIsNotEmpty"
                >
                  <div class="Number" sbDisplay="RosterNumber"></div>
                  <div class="Name" sbDisplay="Name"></div>
                  <div class="PenaltyClock" sbDisplay="PenaltyTime: sbToLongTime"></div>
                  <div class="Penalties" sbDisplay="CurrentPenalties"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ClockBox TopClock AnimatedPanel PanelHideTop Wrapper" sbClass="Show: $.Clock">
          <div
            class="ClockBarTop Wrapper Row SlideDown ClockNames ShowInJam ShowInLineup ShowInTimeout ShowInIntermission ShowInNoClock barBackgroundTop"
          >
            <div
              class="Box TextLeft Name"
              sbDisplay="Clock(Period).Name,Clock(Period).Number,Rule(Period.Number): sbToClockInitialNumber"
            ></div>
            <div
              class="Box TextRight Clock ShowInJam ShowInIntermission ShowInLineup ShowInTimeout Name"
              sbContext="Clock(Jam)"
              sbDisplay="Name,Number: sbToClockInitialNumber"
            ></div>
          </div>

          <div
            class="ClockBarMiddle Wrapper SlideDown ShowInIntermission ShowInLineup ShowInTimeout ShowInNoClock Box BigName ClockDescription"
            sbDisplay="Clock(Intermission).Number, Clock(*).Running, TimeoutOwner, OfficialReviews, ^Settings.Setting(ScoreBoard.Intermission.*), OfficialScore, ClockDuringFinalScore, Rule(Period.Number): ovlToClockType"
          ></div>
          <div class="ClockBarBottom Wrapper Row BottomRow barBackgroundBottom">
            <div
              class="Box TextLeft Time Clock Show ShowInJam ShowInLineup ShowInTimeout"
              sbContext="Clock(Period)"
              sbDisplay="Time, Direction: sbToTime"
            ></div>
            <div
              class="Box BoxLarge TextCenter Time Intermission Clock ShowInIntermission"
              sbContext="Clock(Intermission)"
              sbDisplay="Time, Direction: sbToTime"
            ></div>
            <div class="Box TextRight Time Clock Show ShowInJam" sbContext="Clock(Jam)" sbDisplay="Time, Direction: sbToTime"></div>
            <div class="Box TextRight Time Clock ShowInLineup" sbContext="Clock(Lineup)" sbDisplay="Time, Direction: sbToTime"></div>
            <div class="Box TextRight Time Clock ShowInTimeout" sbContext="Clock(Timeout)" sbDisplay="Time, Direction: sbToTime"></div>
          </div>
        </div>
      </div>

      <div class="PanelWrapperCenter">
        <div class="PPJBox Wrapper PanelHideSide OverlayPanel LargePanel AnimatedPanel NoLogo" sbClass="Show: $.Panel: ==='PPJBox'">
          <h1>Points Per Jam</h1>
          <h4
            class="htop"
            sbContext="Team(1)"
            sbDisplay="AlternateName(overlay),Name"
            sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)"
          ></h4>
          <div class="PPJContainer Wrapper">
            <div class="Wrapper Team" sbForeach="Team: 1,2: only" sbPrefix="t:[*]">
              <div class="Period" sbForeach="Period: -0: Period,num" sbContext="^">
                <div
                  class="ColumnWidth GraphBlock"
                  sbForeach="Jam:: Jam,num"
                  sbContext=":TeamJam([Team])"
                  sbClass="Lead: Lead | Lost: Lost"
                  sbCss="height: JamScore: v * 4 + 'px' | width: Number: ovlToPpjColumnWidth | margin-top: JamScore: ovlToPpjMargin | background: t.Color(overlay.bg)"
                >
                  <div class="JammerStar ColumnWidth"></div>
                  <div class="Points ColumnWidth" sbDisplay="JamScore"></div>
                </div>
              </div>
            </div>
          </div>
          <h4
            class="hbottom"
            sbContext="Team(2)"
            sbDisplay="AlternateName(overlay),Name"
            sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)"
          ></h4>
        </div>

        <div sbForeach="Team: 1,2: only">
          <div
            class="RosterTeam PanelHideSide Wrapper OverlayPanel LargePanel AnimatedPanel"
            sbClass="NoLogo: Logo: sbIsEmpty | Show: $.Panel: ==='RosterTeam[Team]'"
          >
            <img class="TeamLogo" sbAttr="src: Logo" />
            <h1 sbDisplay="AlternateName(overlay),Name" sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)"></h1>
            <h2>Team Roster</h2>
          </div>
          <div
            class="RosterTeam LowerPart AnimationDelay PanelHideSide Wrapper OverlayPanel LargePanel AnimatedPanel"
            sbClass="Show: $.Panel: ==='RosterTeam[Team]'"
          >
            <div class="Wrapper Team SortBox">
              <div
                class="Skater"
                sbForeach="Skater:: rosterNumber: resort=RosterNumber"
                sbClass="NoShow: Role: ==='NotInGame'"
                sbAttr="rosterNumber: RosterNumber"
              >
                <div
                  class="Number"
                  sbDisplay="RosterNumber: sbToNbspIfEmpty"
                  sbCss="color: ^Color(overlay.fg) | background: ^Color(overlay.bg)"
                ></div>
                <div class="Name" sbDisplay="Name: sbToNbspIfEmpty">&nbsp;</div>
                <div class="Flags" sbAttr="data-flag: Flags">&nbsp;</div>
              </div>
            </div>
          </div>

          <div
            class="PenaltyTeam PanelHideSide Wrapper OverlayPanel LargePanel AnimatedPanel"
            sbClass="NoLogo: Logo: sbIsEmpty | Show: $.Panel: ==='PenaltyTeam[Team]'"
          >
            <img class="TeamLogo" sbAttr="src: Logo" />
            <h1>Penalty Board</h1>
            <h2 sbDisplay="AlternateName(overlay),Name" sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)"></h2>
          </div>
          <div
            class="PenaltyTeam AnimationDelay LowerPart PanelHideSide Wrapper OverlayPanel LargePanel AnimatedPanel"
            sbClass="Show: $.Panel: ==='PenaltyTeam[Team]'"
          >
            <div class="Wrapper Team SortBox">
              <div
                class="Skater"
                sbForeach="Skater:: rosterNumber: resort=RosterNumber"
                sbClass="NoShow: Role: ==='NotInGame'"
                sbAttr="rosterNumber: RosterNumber | warn: PenaltyCount, Penalty(0).Code: sbToWarnLevel"
              >
                <div
                  class="Number"
                  sbDisplay="RosterNumber: sbToNbspIfEmpty"
                  sbCss="color: ^Color(overlay.fg) | background: ^Color(overlay.bg)"
                ></div>
                <div class="Name" sbDisplay="Name: sbToNbspIfEmpty">&nbsp;</div>
                <div class="Penalties">
                  <div class="Penalty" sbForeach="Penalty" sbDisplay="Code" sbClass="NoShow: Id: == 0"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Upcoming PanelHideSide Wrapper OverlayPanel LargePanel AnimatedPanel" sbClass="Show: $.Panel: ==='Upcoming'">
          <div sbContext="Team(1)" sbClass="NoLogo: Logo: sbIsEmpty">
            <img class="TeamLogo" sbAttr="src: Logo" style="float: left" />
            <h1
              sbDisplay="AlternateName(overlay),Name"
              sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)"
              style="margin-top: 2em; margin-left: 4em; margin-right: 0"
            ></h1>
          </div>
          <div class="UpcomingVS">VS</div>
          <div sbContext="Team(2)" sbClass="NoLogo: Logo: sbIsEmpty">
            <img class="TeamLogo" sbAttr="src: Logo" style="float: right" />
            <h1
              sbDisplay="AlternateName(overlay),Name"
              sbCss="color: Color(overlay.fg) | background: Color(overlay.bg)"
              style="margin-top: 2em; margin-left: 0; margin-right: 4em"
            ></h1>
          </div>
        </div>
      </div>

      <div class="PanelWrapperLeft">
        <div class="LowerThird Wrapper OverlayPanel AnimatedPanel PanelHideSide" sbClass="Show: $.Panel: ==='LowerThird'">
          <h4 class="Line1" sbDisplay="$.LowerThird.Line1"></h4>
          <h5
            class="Line2"
            sbDisplay="$.LowerThird.Line2"
            sbCss="color: $.LowerThird.Style,Team(*).Color(overlay.fg): ovlToLowerThirdColorFg | background: $.LowerThird.Style,Team(*).Color(overlay.bg): ovlToLowerThirdColorBg"
          ></h5>
        </div>
      </div>
    </div>
  </body>
</html>
