/* General look */
html { height: 100%; width: 100%; } 
body { font-weight: bold; margin: 0; padding: 0; overflow: hidden; } 
div { white-space: nowrap; display: block; padding: 0; margin: 0; overflow: hidden; } 
.Wrapper { clear: both; box-sizing: border-box; } 
.Box { float: left; margin: 0; padding: 0; position: relative; display: block; } 

.preload * { transition: none !important; } 

.barBackgroundTop, [Team="1"] .barBackground { background: silver; background: linear-gradient(to bottom, #eee, #ddd 30%, #ccc 60%, #bbb); } 
.barBackgroundBottom, [Team="2"] .barBackground { background: silver; background: linear-gradient(to bottom, #bbb, #ccc 30%, #ddd 60%, #eee); } 

div.Wrapper .TextLeft { text-align: left !important; } 
div.Wrapper .TextRight { text-align: right !important; } 
div.Wrapper .TextCenter { text-align: center !important; } 

.AnimatedPanel { position: absolute; display: block; overflow: hidden; padding: 0; } 
div.AnimatedPanel { transition: transform 1s ease-in-out, width 1s ease-in, height 1s ease-in; transform-style: preserve-3d; } 
div.AnimatedPanel.AnimationDelay { transition: transform 1s ease-in-out .3s; } 

/***************
 * teams box 
 **************/
 /* overall */
.TeamBox { top: 2%; left: 5rem; font-size: 1.8em; line-height: 100%; width: calc(100% - 25rem); } 
.TeamBox.Lineups.UseLT:not(.ShowNames) { max-width: 35em; } 
.TeamBox:not(.Lineups.UseLT) { width: 23em; }

/* indicator */
.TeamBox .Indicator { width: 4%; height: 100%; font-size: 45%; float: left; text-align: center; background: #333; color: white; } 
.TeamBox .Indicator { width: 1.6em; height: 1.3em; text-align: center; font-size: 75%; }
.TeamBox [Team="1"] .Indicator { border-radius: 8px 0 0 0; } 
.TeamBox [Team="2"] .Indicator { border-radius: 0 0 0 8px; } 
.TeamBox.Lineups.UseLT .Indicator { display: none; }

/* main area */
.TeamBox .Team { width: 12em; float: left; transition: border-radius 1s; } 
.TeamBox .Team { border-right: 2px solid #333; } 
.TeamBox [Team="1"] .Team { border-radius: 0 8px 0 0; } 
.TeamBox [Team="2"] .Team { border-radius: 0 0 8px 0; } 
.TeamBox.Lineups.UseLT [Team="1"] .Team { border-radius: 8px 0 0 0; } 
.TeamBox.Lineups.UseLT [Team="2"] .Team { border-radius: 0 0 0 8px; } 
.TeamBox:not(.Lineups.UseLT).ShowJammers.InJam .Team { border-radius: 0; } 

.TeamBox .Team .Name { text-align: left; overflow: hidden; font-size: 80%; } 
.TeamBox .Team .Name { width: 67%; padding-left: 2%; border-left: 2px solid #666; } 
.TeamBox .Team .Score { width: 18%; text-align: right; padding-right: .1em; font-size: 90%; } 
.TeamBox .Team .Mini { width: 8%; font-size: 45%; line-height: 99%; padding-top: 12px; } 
.TeamBox .Team .Mini .JamScore { width: 100%; text-align: center; } 
.TeamBox .Team .DotTimeouts { width: 3%; padding-top: 2px; } 
.TeamBox .Team .Dot { width: .15em; height: .15em; margin: .05em 0 0 0; } 
.TeamBox .Team .Dot, .Dot.Current { border-radius: 100%; } 
.TeamBox .Team .Dot { background: #333; } 
.TeamBox .Team .Dot.OfficialReview1.Retained { margin-left: .2em; } 
.TeamBox .Team .Dot.Used { opacity: 0; } 
.TeamBox .Team .Dot.Current { opacity: 0; animation: DotActive 0.75s infinite steps(6); } 
@keyframes DotActive { 
 0% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; } 
 }

/* lineup area */
.TeamBox .JammerWrapper { overflow: hidden; } 
.TeamBox .JammerBox { padding-right: 20px; width: calc(100% - 20px); height: 50%; background: #333; color: white; text-align: right; font-size: 50%; border-radius: 0 8px 8px 0; } 
.TeamBox.Lineups.UseLT .JammerBox { display: flex; } 

.JammerBox, .JammerBox.Show { margin-left: -100%; } 
.ShowJammers .JammerBox.Show, .Lineups.UseLT.PenaltyClocks .JammerBox { margin-left: 0; z-Index: -3; } 
.TeamBox .JammerBox { float: left; transition: margin-left 2s; } 

.TeamBox .JammerBox>div { font-size: 80%; padding: 0px 2px; min-height: 100%; flex: 1; display: flex; justify-content: space-around; }
.TeamBox.Lineups.UseLT .JammerBox>div { border-right: solid #ccc 1px; }
.TeamBox.Lineups.UseLT .JammerBox>:last-child>div { border-right: none; }
.TeamBox.Lineups.UseLT .JammerBox .Penalized:not(.InBox) { background-color: var(--element-unserved-bg); color: var(--element-unserved-fg); } 
.TeamBox.Lineups.UseLT .JammerBox .InBox { background-color: var(--element-inbox-bg); color: var(--element-inbox-fg); } 
.TeamBox .JammerBox .Penalties:not(:empty) { padding-left: 5px; }
.TeamBox.Lineups.UseLT .JammerBox .Jamming:before { content: "★"; } 
.TeamBox.Lineups.UseLT .Lead .JammerBox .Jamming { color: #f00; animation: HasLead 2s infinite steps(12); } 
@keyframes HasLead { 
    0% { color: #FF0000; } 50% { color: #FFFFFF; } 100% { color: #FF0000; } 
    }
   
.TeamBox:not(.Lineups.UseLT) .JammerBox>:not(.Jamming),
.TeamBox:not(.Lineups.UseLT) .JammerBox .Penalties,
.TeamBox.ShowNames .JammerBox .Number, 
.TeamBox:not(.ShowNames) .JammerBox .Name,
.TeamBox:not(.PenaltyClocks) .JammerBox .PenaltyClock,
.TeamBox .JammerBox>:not(.HasClock)>.PenaltyClock { display: none; } 
 

/*************
 * clock box 
 ************/
.AnimatedPanel.TopClock { top: 2%; right: 5rem; width: 10rem; border-radius: 10px; } 

.SlideDown { transition: max-height 1s ease; width: 100%; overflow: hidden; padding: 0;  max-height: 0; } 

.ClockBarTop { padding: 0; font-size: 1.4em; }
.ClockBarTop.SlideDown.Show { width: 100%; padding: 2% 5%; max-height: 2em; } 
.ClockNames { width: 100%; font-size: 1.7em; } 
.ClockNames > .Box { float: left; text-align: center; } 
.ClockBox .Name { width: 49%; } 

.ClockBarMiddle.SlideDown { background: #888; padding: 0; } 
.ClockBarMiddle.SlideDown.Show { max-height: 1.2em; } 
.ClockBox .ClockDescription { width: 100%; color: white; font-size: 1em; text-align: center; text-transform: uppercase; width: 100%; } 
.ClockBox .ClockDescription.Show { padding: 2px 0; } 

.ClockBarBottom { font-size: 1.7em; } 
.BottomRow { border-radius: 0 0 10px 10px; width: 100%; padding: 2% 5%; }
.ClockBox .Time { width: 49%; } 
.ClockBox .Time.ShowInIntermission { width: 100%; } 
.ClockBox .Time.Hidden { display: none; }

.Clock { margin-left: -9999em; float: left; } 
.Clock.Show { margin-left: 0; } 


/*********
 * panels 
 *********/
/* general */
.AnimatedPanel.LargePanel { width: 75%; top: 15%; margin: 0 auto; } 
.AnimatedPanel.MediumPanel { bottom: 5%; width: 20%; height: 8em; top: auto; border-radius: 10px; left: 40%; } 
.AnimatedPanel.LowerThird { top: 80%; left: 0; text-align: right; min-width: 45%; width: auto; } 

.PanelWrapperTop .AnimatedPanel.PanelHideTop { transform: translateY(-160%); } 
.PanelWrapperTop .AnimatedPanel.PanelHideTop.Show { transform: translateY(5%); } 

.PanelWrapperLeft .AnimatedPanel { transform: translateY(-50%); } 
.PanelWrapperLeft .AnimatedPanel.Show { transform: translateY(0); } 

.PanelWrapperCenter .AnimatedPanel { margin: 0 auto; left: 50%; right: 50%; transform: translate(-50%, -50%); } 
.PanelWrapperCenter .AnimatedPanel.PanelHideBottom { transform: translateY(200%); } 
.PanelWrapperCenter .AnimatedPanel.PanelHideBottom.Show,

.AnimatedPanel.PanelHideSide { transform: translateX(-200%); } 
[Team="2"] .AnimatedPanel.PanelHideSide { transform: translateX(200%); } 
.AnimatedPanel.PanelHideSide.Show { transform: translateX(-50%); } 

.AnimatedPanel img { transition: height 1s ease-in-out .3s; } 
.AnimatedPanel img { height: 0; } 
.AnimatedPanel.Show.Upcoming img { height: 200px; } 
.AnimatedPanel.Show:not(.Upcoming) img { height: 164px; } 

.OverlayPanel h1,
.OverlayPanel h2 { background: #666; display: block; padding: 10px; color: white; } 

.OverlayPanel h1 { font-size: 1.8em; line-height: 2em; border-radius: 10px 10px 0 0; text-transform: uppercase; text-align: center; background: #000; color: white; margin-bottom: 0; } 
.OverlayPanel h2 { font-size: 1.4em; line-height: 1.6em; border-radius: 0 0 10px 10px; text-transform: uppercase; text-align: center; background: #333; color: white; margin-top: 0; } 

.OverlayPanel h4 { background: #333; color: white; border-radius: 0 10px 0 0; margin: 0; padding: 2%; font-size: 2em; } 
.OverlayPanel h5 { background: #ddd; color: #333; border-radius: 0 0 10px 0; margin: 0; padding: 2%; font-size: 1.2em; } 

.OverlayPanel h4.htop { border-radius: 0; } 
.OverlayPanel h4.hbottom { border-radius: 0 0 10px 10px; } 

.OverlayPanel h1, .OverlayPanel h2 { margin-left: 10%; margin-right: 0; } 
.NoLogo h1, .NoLogo h2 { margin-left: 0; } 
.NoLogo img { display: none; } 
.TeamLogo { float: left; } 

/* PPJ */
.PPJContainer { background: #ccc; padding: 10px; } 
.PPJBox [Team="1"] { border-bottom: 1px solid #777; } 
.PPJBox [Team="2"] { border-top: 1px solid #777; } 
.PPJBox .Team { height: 23vh; } 
.PPJBox .Period { height: 23vh; position: relative; display: block; float: left; } 
.PPJBox [Period="2"] { border-left: 2px solid #777; } 
.PPJBox h4 { text-transform: uppercase; text-align: center; font-size: 1.4em; } 

.JammerStar { text-align: center; color: #ddd; position: absolute; font-size: 1.6em; font-weight: normal; } 
.Points { width: 100%; text-align: center; color: #333; position: absolute; font-size: 1.6em; font-weight: normal; height: 2em; } 
[Team="1"] .Points { top: 0vh; } 
[Team="1"] .JammerStar { top: 3vh; } 
[Team="2"] .JammerStar { top: 15vh; } 
[Team="2"] .Points { top: 20vh; } 

.GraphBlock { display: block; float: left; width: 10px; background: #888; margin: 0 2px; font-size: 60%; text-align: center; } 
.PPJBox [Period="2"] .GraphBlock { background: #999; } 
[Team="1"] .GraphBlock { margin-top: 1px; } 
[Team="2"] .GraphBlock { margin-bottom: 1px; } 
.GraphBlock.Lead.Lost .JammerStar { color: #666; } 
.GraphBlock.Lead.Lost .JammerStar:after { content: '\02297'; } 
.GraphBlock.Lead .JammerStar { color: #666; } 
.GraphBlock.Lead .JammerStar:after { content: '\02605'; } 


/* Roster */
.RosterTeam .TeamLogo { margin-bottom: .5em; } 
.RosterTeam .Team .Skater { width: 48%; float: left; background: #ccc; overflow: hidden; font-size: 1.5em; line-height: 1.8em; } 
.RosterTeam .Team .Skater:nth-child(odd) { margin-right: 4%; } 
.RosterTeam .Team .Skater:nth-child(1) .Number, .RosterTeam .Team .Skater:nth-child(2) .Number,
.RosterTeam .Team .Skater:nth-child(1), .RosterTeam .Team .Skater:nth-child(2) { border-radius: 10px 0 0 0; } 
.RosterTeam .Team .Skater:nth-last-child(1) .Number, .RosterTeam .Team .Skater:nth-last-child(2) .Number,
.RosterTeam .Team .Skater:nth-last-child(1), .RosterTeam .Team .Skater:nth-last-child(2) { border-radius: 0 0 0 10px; } 
.RosterTeam .Team .Skater .Number,
.RosterTeam .Team .Skater .Flags,
.RosterTeam .Team .Skater .Name { min-height: 1.7em; max-height: 1.7em; float: left; overflow: hidden; } 
.RosterTeam .Team .Skater .Number { width: 15%; background: #ccc; background: #888; color: white; text-align: center; } 
.RosterTeam .Team .Skater .Name { width: 72%; } 
.RosterTeam .Team .Skater .Flags { width: 8%; float: left; vertical-align: middle; text-align: center; border-radius: 5px; color: #888; } 
.RosterTeam .Team .Skater .Flags[data-flag="C"]:after { content: 'C'; visibility: visible; } 
.RosterTeam .Team .Skater .Flags[data-flag="A"]:after { content: 'A'; visibility: visible; } 
.RosterTeam .Team .Skater .Flags[data-flag="B"]:after { content: 'B'; visibility: visible; } 
.RosterTeam .Team .Skater .Flags[data-flag="BA"]:after { content: '@'; visibility: visible; } 
.RosterTeam .Team .Skater .Flags[data-flag="ALT"]:after { content: '\02717'; visibility: visible; } 

.PanelWrapperCenter .RosterTeam.AnimatedPanel.LowerPart { margin-top: 10.5em; } 


/* Penalties */
.PenaltyTeam .NoShow { display: none; } 
.PenaltyTeam .TeamLogo { margin-bottom: .5em; } 
.PenaltyTeam .SortBox { border-radius: 10px; } 
.PenaltyTeam .Team .Skater { width: 100%; font-size: 1.2em; line-height: 1.4em; height: 1.4em; clear: both; } 
.PenaltyTeam .Team .Skater:nth-child(odd) { background: #ccc; } 
.PenaltyTeam .Team .Skater:nth-child(even) { background: #ddd; } 
.PenaltyTeam .Team .Number { float: left; width: 7%; padding-left: 2em; padding-right: 1em; color: #333; min-height: 100%; text-align: right; } 
.PenaltyTeam .Team .Name { float: left; width: 24%; color: #333; } 
.PenaltyTeam .Team .Penalty { float: left; width: 8%; } 
.PenaltyTeam .Skater .Penalty { display: block; padding: 0px 2px; background: #333; color: white; width: 2em; border-radius: 8px; text-align: center; margin-right: 10px; } 
.PenaltyTeam .Skater[warn="1"] .Penalty { background: darkorange; } 
.PenaltyTeam .Skater[warn="2"] .Penalty { background: orange; } 
.PenaltyTeam .Skater[warn="3"] .Penalty { background: red; } 
.PenaltyTeam .Skater[warn="3"] .Name,
.PenaltyTeam .Skater[warn="3"] .Number { text-decoration: line-through; color: red; } 

.PanelWrapperCenter .PenaltyTeam.AnimatedPanel.LowerPart { margin-top: 10.5em; } 


/* Upcoming */
.Upcoming { padding-top: 4em; } 
.Upcoming h1 { border-radius: 1em; } 
.Upcoming .UpcomingVS { padding: 1em; margin: 0 auto; width: 4em; background: white; color: red; font-size: 1em; border-radius: 1em; text-align: center; } 
