<div class="LT" sbPrefix="t:[*]">
  <table
    sbContext="^"
    sbForeach="Period: -0: comparePeriod"
    cellpadding="0"
    cellspacing="0"
    border="1"
    class="Period LT"
    sbClass="Current: Number,^CurrentPeriodNumber: isCurrentPeriod"
  >
    <thead class="ShowSome ShowOnSheet">
      <tr>
        <td colspan="12"><span sbDisplay="t.UniformColor, t.Name"></span></td>
      </tr>
      <tr>
        <td class="JamNumber">Jam</td>
        <td class="NP">NP</td>
        <td class="Skater">Jammer</td>
        <td class="Box">Box</td>
        <td class="Skater">Pivot</td>
        <td class="Box">Box</td>
        <td class="Skater">Blocker</td>
        <td class="Box">Box</td>
        <td class="Skater">Blocker</td>
        <td class="Box">Box</td>
        <td class="Skater">Blocker</td>
        <td class="Box">Box</td>
      </tr>
    </thead>
    <tbody>
      <tr class="Jam Upcoming" sbContext="t" sbClass="Hide: ^InJam">
        <td class="JamNumber Darker" sbDisplay="^UpcomingJamNumber"></td>
        <td class="NP Darker" sbDisplay="NoPivot: toX"></td>
        <td
          sbForeach="Position:Jammer, Pivot, Blocker1, Blocker2, Blocker3: only"
          class="Skater"
          sbClass="hasAnnotation: Annotation: notEmpty"
          sbDisplay="RosterNumber"
          sbCall="editUpcomingFielding"
        ></td>
        <td
          sbForeach="Position:Jammer, Pivot, Blocker1, Blocker2, Blocker3: only"
          class="Box"
          sbDisplay="CurrentBoxSymbols"
          sbCall="editUpcomingFielding"
        ></td>
      </tr>
      <tr class="Jam" sbContext=":TeamJam([Team])" sbForeach="Jam:: compareJam" sbClass="INJ: ^InjuryContinuation">
        <td
          class="JamNumber Darker"
          sbClass="CopyArrow: ^InjuryContinuation: !"
          sbDisplay="Lead, ^Number, ^InjuryContinuation: checkInj"
          sbSet="CopyLineupToCurrent"
        ></td>
        <td class="NP Darker" sbControl="NoPivot: toX: fromX"></td>
        <td
          sbForeach="Fielding:Jammer, Pivot, Blocker1, Blocker2, Blocker3: only"
          class="Skater"
          sbClass="hasAnnotation: Annotation: notEmpty"
          sbDisplay="SkaterNumber, ^^InjuryContinuation, ^Lead: emptyIfInjAst"
          sbCall="editFielding"
        ></td>
        <td
          sbForeach="Fielding:Jammer, Pivot, Blocker1, Blocker2, Blocker3: only"
          class="Box"
          sbDisplay="BoxTripSymbolsBeforeSP, ^^InjuryContinuation, ^Lead: emptyIfInjAst"
          sbCall="editFielding"
        ></td>
      </tr>
      <tr class="SP" sbContext=":TeamJam([Team])" sbForeach="Jam:: compareJam" sbClass="Hide: ^StarPass: !">
        <td class="JamNumber Darker" sbDisplay="StarPass: toSpJamNo"></td>
        <td class="NP Darker" sbDisplay="StarPass: toX"></td>
        <td
          sbForeach="Fielding:Pivot, Jammer, Blocker1, Blocker2, Blocker3: only"
          class="Skater"
          sbDisplay="SkaterNumber, ^StarPass: emptyIfNoSp"
          sbCall="editFielding"
        ></td>
        <td
          sbForeach="Fielding:Pivot, Jammer, Blocker1, Blocker2, Blocker3: only"
          class="Box"
          sbDisplay="BoxTripSymbolsAfterSP"
          sbCall="editFielding"
        ></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="Templates">
  <table id="FieldingEditor">
    <tr class="Skater">
      <td colspan="2">
        <span id="skaterList" sbPrefix="f:[*]">
          <button sbSet="Skater: null">?</button>
          <button sbClass="Hide:-: isUpcoming" sbSet="Skater: null" sbToggle="NotFielded">n/a</button>
          <button
            sbContext="/ScoreBoard.Game([Game]).Team([TeamJam])"
            sbForeach="Skater:: compareRosterNumber: resort=RosterNumber"
            sbAttr="rosterNumber: RosterNumber"
            sbDisplay="RosterNumber"
            sbClass="Active: f.Skater == elem.attr('Skater')"
            sbSet="f.Skater: elem.attr('Skater')"
          ></button>
        </span>
      </td>
      <td class="ButtonCell"><button sbToggle="SitFor3">Sit out next 3</button></td>
    </tr>
    <tr class="Skater">
      <td colspan="3"><input type="text" size="60" id="annotation" sbControl="Annotation:: toNullIfEmpty" /></td>
    </tr>
    <tr class="Skater BoxTripComments" sbClass="Hide: CurrentBoxTrip: empty">
      <td><button sbSet="Annotation: appendText">Self Report</button></td>
      <td><button sbSet="Annotation: appendText">Penalty Overturned</button></td>
    </tr>
    <tr class="tripHeader">
      <td colspan="2">Box Trips</td>
      <td />
    </tr>
    <tr class="tripHeader">
      <td>Start</td>
      <td>End</td>
      <td />
    </tr>
    <tr sbForeach="BoxTrip" sbContext=":/ScoreBoard.Game([Game]).Team([TeamJam]).BoxTrip[BoxTrip]">
      <td>
        <button class="tripModify" sbSet="StartEarlier">-</button>
        <span sbDisplay="StartJamNumber, StartBetweenJams, StartAfterSP: toBtStartText"></span>
        <button class="tripModify" sbSet="StartLater">+</button>
      </td>
      <td>
        <button class="tripModify" sbSet="EndEarlier">-</button>
        <span sbDisplay="EndJamNumber, EndBetweenJams, EndAfterSP: toBtEndText"></span>
        <button class="tripModify" sbSet="EndLater">+</button>
      </td>
      <td>
        <button class="tripRemove" sbSet="Delete">Remove</button>
      </td>
    </tr>
    <tr id="tripFooter">
      <td><button id="addTrip" sbSet="AddBoxTrip">Add Box Trip</button></td>
      <td />
      <td class="ButtonCell"><button sbCall="closeDialog">Close</button></td>
    </tr>
  </table>
</div>
