.PLT, #PenaltyEditor {	
	font-size: 11pt;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
table.PLT, .PLT table, .PLT tr, .PLT td, #PenaltyEditor table, #PenaltyEditor tr, #PenaltyEditor td {
	border-collapse: collapse;
	border-color:#777;
}
.PLT tr {
    color: #333;
}
.PLT.Team {
	width: 99%;
	top: 0%;
}
.PLT.Team thead td { font-size: 1em; font-weight: bold; background-color: #222; color: #FFF; }
.PLT.Team td { text-align: center; vertical-align: middle; }
.PLT.Team .Number, .PLT.Team .Box, .PLT.Team .Total, .PLT.Team .Advance { width: 5%; }
.PLT.Team .Role, .PLT.Team .Sitting { width: 7%; }
.PLT.Team tr { background-color: #FFF; height: 22px; }
.PLT.Team tr:nth-child(4n+0), .PLT.Team tr:nth-child(4n-1) { background-color: #FFE8FF; }
.PLT.Team .Role { background-color: #FFF; }
.PLT.Team tr:nth-child(4n-1) .Role:not(.OnTrack), .PLT.Team .Advance:not(.Active) { background-color: #e7f3ff; }
.PLT.Team .Sitting, .PLT.Team .Trips { background-color: #e7f3ff; }
.PLT.Team tr:nth-child(4n-1) .Sitting:not(.inBox), .PLT.Team tr:nth-child(4n-1) .Trips { background-color: #cee7ff; }
.PLT.Team .Number { font-weight: bold; background-color: #f4f4f4; }
.PLT.Team tr:nth-child(4n-1) .Number:not(.OnTrack) { background-color: #E8E8E8; }
.PLT.Team .Box0 { background-color: #ffd0ff; }
.PLT.Team .Role:not(.OnTrack)>span.Num { display: none; }
.PLT.Team .Role.OnTrack>span.Pos { display: none; }

.PLT.Team .Warn1, .PLT.Team .Warn1 .Box0 { background-color: #ffffa0; }
.PLT.Team .Warn1:nth-child(4n+0), .PLT.Team .Warn1:nth-child(4n-1),
.PLT.Team .Warn1:nth-child(4n+0) .Box0, .PLT.Team .Warn1:nth-child(4n-1) .Box0 { background-color: #ffff66; }
.PLT.Team .Warn2, .PLT.Team .Warn2 .Box0 { background-color: #ffdc6d; }
.PLT.Team .Warn2:nth-child(4n+0), .PLT.Team .Warn2:nth-child(4n-1),
.PLT.Team .Warn2:nth-child(4n+0) .Box0, .PLT.Team .Warn2:nth-child(4n-1) .Box0 { background-color: #ffd000; }
.PLT.Team .Warn3, .PLT.Team .Warn3 .Box0 { background-color: #ff6666; }
.PLT.Team .Warn3:nth-child(4n+0), .PLT.Team .Warn3:nth-child(4n-1),
.PLT.Team .Warn3:nth-child(4n+0) .Box0, .PLT.Team .Warn3:nth-child(4n-1) .Box0 { background-color: #ff4040; }

.PLT.Team .Unserved { background-color: #0FF; }
.PLT.Team .Serving { background-color: #70ff70; }
.PLT.Team .OnTrack { background-color: #70ff70; }
.PLT.Team .inBox { background-color: #ff4040; }
.PLT.Team .Advance { border: none; }
.PLT.Team .Advance.Active { background-color: #ffd000;  vertical-align: bottom; }
.PLT.Team tr:nth-child(6n+1) .Advance.Active::after { content: "Go To"; }
.PLT.Team tr:nth-child(6n+3) .Advance.Active::after { content: "Next Jam"; }

#PenaltyEditor .Codes>div { float: left; width: 150px; height: 90px; margin: 10px; border: 1px solid black; font-weight: bold; }
#PenaltyEditor .Codes>div.Active { background-color: #F00; color: #FFF; }
#PenaltyEditor .Codes>div div { text-align: center; }
#PenaltyEditor .Codes>div .Code { font-size: 1.2em; background-color: #FAA; color: #000; }
#PenaltyEditor .Codes>div .Description { font-size: 0.75em; }
