#Igrf div.Name input { font-size: 1rem; } 
#Igrf div.Name button { font-size: 1rem; margin: 2px 5px; } 

#Igrf table.Variables { width: 100%; } 
#Igrf table.Variables td:first-of-type { text-align: right; } 
#Igrf table.Variables td { text-align: left; width: 50%; } 

#Igrf div.Files .ui-button { margin: 1px 5px; } 
#Igrf div.Files .Warning { color: red; }

#Igrf table.Summary { border: 1px solid black; border-collapse: collapse; background-color: white; font-weight: bold; margin: auto; }
#Igrf table.Summary td { border: 1px solid black; border-collapse: collapse; width: 80px; }
#Igrf table.Summary .Head, #Igrf table.Summary .Total { background-color: #ffd0ff; }
#Igrf table.Summary .Label { background-color: #ffe8ff; }
#Igrf table.Summary .Small { font-weight: normal; }
#Igrf table.Summary .Value { font-size: 125%; }

#Igrf table.Officials th.Head { font-size: 1rem; } 
#Igrf table.Officials col.Name { width: 30%; } 
#Igrf table.Officials col.League { width: 30%; } 
#Igrf table.Officials col.Cert { width: 10%; } 
#Igrf table.Officials col.Store { width: 5%; } 
#Igrf table.Officials col.Button { width: 5%; } 
#Igrf table.Officials tr.AddOfficial>td { border-bottom: 1px dashed #777; }
#Igrf table.Officials button.Swap { font-size: 80%; padding: 0.4em; } 

/* Official Remove Dialog */
#OfficialRemoveDialog span.Title { font-size: 125%; } 
#OfficialRemoveDialog span.Remove { font-size: 150%; } 
#OfficialRemoveDialog span.Target { font-weight: bold; font-size: 250%; } 
#OfficialRemoveDialog span.AreYouSure { font-weight: bold; font-size: 300%; } 
/* End Official Remove Dialog */
