
div.FlexboxRow,div.FlexboxCol { display: -webkit-flex; display: flex; }
div.FlexboxRow { -webkit-flex-direction: row; flex-direction: row; }
div.FlexboxCol { -webkit-flex-direction: column; flex-direction: column; }
div.FlexboxStretch { -webkit-align-items: stretch; align-items: stretch; }
div.FlexboxCenter {
  -webkit-align-items: center; align-items: center;
  -webkit-justify-content: space-around; justify-content: space-around;
}

#mainDiv {
  position: absolute;
  top: 0%; left: 0%;
  width: 100%; height: 100%;
}

#controls {
  -webkit-order: 1; order: 1;
  -webkit-flex: 1; flex: 1;
  margin: 2% 1% 2% 2%;
  text-align: center;
}
#controls.NoFlexbox { width: 30%; height: 100%; float: left; }

#controls div.ControlBox {
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
}
#controls div.ControlBox:not(.Show) { display: none; }

#controls div.SearchBox input.Search { width: 100%; }
#controls div.LeagueName a.LeagueName { font-weight: bold; font-size: 125%; }
#controls div.Template { display: none; }
#controls div.Image div.ImageBox:nth-of-type(2n) { background: #ccc; }
#controls div.Image div.ImageBox:nth-of-type(2n+1) { background: #ddd; }
#controls div.Image div.ImageBox div.TeamLogoImage {
  -webkit-order: 1; order: 1;
  -webkit-flex: 1; flex: 1;
}
#controls.NoFlexbox div.Image div.ImageBox div.TeamLogoImage { width: 45%; display: inline-block; }
#controls div.Image div.ImageBox div.TeamLogoImage img.TeamLogo { width: 100%; }
#controls div.Image div.ImageBox div.ImageControl {
  -webkit-order: 2; order: 2;
  -webkit-flex: 1; flex: 1;
  text-align: center;
}
#controls.NoFlexbox div.Image div.ImageBox div.ImageControl { width: 45%; display: inline-block; }


#mapCanvas {
  -webkit-order: 2; order: 2;
  -webkit-flex: 2; flex: 2;
  margin: 2% 2% 2% 1%;
  border: 1px solid grey;
  overflow: hidden;
}
#mapCanvas.NoFlexbox { width: 60%; height: 100%; float: right; }

#mapCanvas .InfoWindowContent { text-align: center }
#mapCanvas .InfoWindowContent img.TeamLogo { width: 100px; }

#mapCanvas .MarkerLabel {
  color: #000; background-color: #fff;
  font-size: 11px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
}

