
body { margin: 0px; }
#operatorIdDiv { width: 100%; font-weight: bold; text-align: center; }
#tabsDiv>div.TabContent { padding: 2px; overflow: hidden; }
#tabsDiv>div.TabContent>table { width: 100%; border-spacing: 0px; }
#tabsDiv>div.TabContent>div.Loading { text-align: center; font-weight: bold; font-size: 300%; }

/* Key Control */
  button.KeyControl span.Indicator { font-size: 75%; }
  button.KeyControl:not(.HasControlKey) span.Indicator { display: none; }
  button.KeyControl>span { padding: 0.3em !important; }
/* End Key Control */

/* Time Control Dialog */
  table.TimeDialog { width: 100%; border-spacing: 0px; }
  table.TimeDialog table { width: 100%; border-spacing: 0px; }
  table.TimeDialog>tbody>tr>td { width: 100%; text-align: center; }
  table.TimeDialog table td.Title { background: #ccc; border-radius: 12px 12px 0px 0px; }
  table.TimeDialog table td:not(.Title) { background: #eee; }
  table.TimeDialog table tr:last-of-type>td:first-of-type { border-bottom-left-radius: 12px; }
  table.TimeDialog table tr:last-of-type>td:last-of-type { border-bottom-right-radius: 12px; }
  table.TimeDialog a.Time { font-weight: bold; }
  table.TimeDialog button.Set>span { padding: 0.1em 1em; }
/* End Time Control Dialog */

/* Intermission Control Dialog */
  table.IntermissionControlDialog { width: 100%; border-spacing: 0px; }
  table.IntermissionControlDialog>tbody>tr>td { text-align: center; }
  table.IntermissionControlDialog>tbody>tr.Name>td { width: 100%; background: #ccc; border-radius: 12px 12px 0px 0px; }
  table.IntermissionControlDialog>tbody>tr.Control>td { background: #eee; width: 33%; }
  table.IntermissionControlDialog>tbody>tr.Control>td:nth-of-type(1) { width: 34%; }
  table.IntermissionControlDialog>tbody>tr.Control>td.ShowUnofficial { border-bottom-left-radius: 12px; }
  table.IntermissionControlDialog>tbody>tr.Control>td.HideClock { border-bottom-right-radius: 12px; }
/* End Intermission Control Dialog */


/* Team/Time Tab */
  #TeamTime a { font-weight: bold; }
  #TeamTime button.KeyControl.Editing { border: 1px solid #f00; }

  #TeamTime table.TabTable { width: 100%; border-spacing: 1px 0px; }
  #TeamTime table.TabTable>tbody>tr>td { background: #ccc; text-align: center; }
  #TeamTime table.TabTable>tbody>tr>td { border-bottom: 1px dashed black; }
  #TeamTime table.TabTable>tbody>tr:last-of-type>td { border-bottom: 0px; }
  #TeamTime table.TabTable>tbody>tr:first-of-type>td { border-radius: 12px 12px 0px 0px; }
  #TeamTime table.TabTable>tbody>tr:last-of-type>td { border-radius: 0px 0px 12px 12px; }

  #TeamTime table.MetaControl>tbody>tr>td { width: 100%; }
  #TeamTime table.MetaControl { font-size: 50%; }
  #TeamTime table.MetaControl>tbody>tr>td { background: #eee; text-align: center; }
  #TeamTime table.MetaControl>tbody>tr:last-of-type>td { border-radius: 12px 12px 12px 12px; }

  #TeamTime table.JamControl>tbody>tr>td { width: 100%; }
  #TeamTime table.JamControl>tbody>tr:first-of-type>td { border-radius: 12px; }
  #TeamTime table.JamControl tr.UndoControls:not(.ShowUndo) { display: none; }

  #TeamTime table.Team>tbody>tr>td { width: 50%; }
  #TeamTime table.Team tr.Name td.Name a { font-size: 200%; }
  #TeamTime table.Team tr.Score td.Score a { font-size: 300%; }
  #TeamTime table.Team tr.Timeout td.Timeouts a { font-size: 200%; }

  #TeamTime table.Time>tbody>tr>td { width: 20%; }
  #TeamTime table.Time tr.Name td.Name.Running { background: #3f3; }
  #TeamTime table.Time tr.Name td.Name a { font-size: 150%; }
  #TeamTime table.Time tr.Number td.Number a { font-size: 150%; }
  #TeamTime table.Time tr.Time td.Time a { font-size: 200%; }
/* End Team/Time Tab */


/* Policies */
  #Policies tr.ExpandCollapseAll>td { background: #eee; border-radius: 12px; text-align: center; }
  #Policies tr.Name>td { background: #ccc; border-radius: 12px 12px 0px 0px; text-align: center; }
  #Policies tr.Name>td.Hide { border-radius: 12px; }
  #Policies tr.Content>td { background: #eee; }
  #Policies tr.Content>td.Description { border-radius: 0px 0px 0px 12px; width: 60%; text-align: left; }
  #Policies tr.Content>td.Controls { border-radius: 0px 0px 12px 0px; width: 40%; text-align: center; }

  #Policies td.Description { }
  #Policies td.Controls { }
/* End Policies */

/* ScoreBoard View */
  #ScoreBoardView tr>td { text-align: center; width: 100%; }
  #ScoreBoardView tr.Control>td { background: #ccc; border-radius: 12px; }
  #ScoreBoardView tr.Name>td { background: #ccc; border-radius: 12px 12px 0px 0px; }
  #ScoreBoardView tr.Name>td.Hide { border-radius: 12px; }
  #ScoreBoardView tr.Options>td { background: #eee; border-radius: 0px 0px 12px 12px; }
/* End ScoreBoard View */

/* Xml Tree Control */
  #XmlTreeControl div.root li:not(.jstree-leaf)>input { display: none; }
  #XmlTreeControl div.root li.NameGroup>span { color: #00f; }
/* End Xml Tree Control */
