#DataManagementTab #saveLoad table { width: 100%; border-spacing: 1px 0px; }
#DataManagementTab #saveLoad table tr>td { text-align: center; background: #eee; }
#DataManagementTab #saveLoad table tr.Name>td { background: #ccc; border-radius: 12px 12px 0px 0px; }
#DataManagementTab #saveLoad table tr.Content>td:first-of-type { border-radius: 0px 0px 0px 12px; }
#DataManagementTab #saveLoad table tr.Content>td:last-of-type { border-radius: 0px 0px 12px 0px; }
#DataManagementTab #saveLoad table tr.Content>td:only-of-type { border-radius: 0px 0px 12px 12px; }

#DataManagementTab #GameData { width: 100%; height: 70vh; }
#DataManagementTab #gameData table { background: #ddd; font-size: 125%; font-weight: bold; } 
#DataManagementTab #gameData .Info { width: 90%; }
#DataManagementTab #gameData .Reload { width: 10%; text-align: right; }

/* Tab divs */
#DataManagementTab #tabsDiv>div { padding: 0px; }
/* End Tab divs */

/* Type groups */
	/* width, font size, text alignment */
#DataManagementTab table.Type { width: 100%; border-spacing: 0px; }
#DataManagementTab table.Type tr.Type>th.Type>a.Type { font-size: 150%; }
#DataManagementTab table.Type>thead>tr.Type { text-align: left; }
#DataManagementTab table.Type>thead>tr.Type>th { padding-left: 15px; padding-right: 15px; }
#DataManagementTab table.Type>thead>tr.Type>th>button.Right { float: right; }
#DataManagementTab table.Type>thead>tr.Controls { text-align: center; }
#DataManagementTab table.Type>tbody>tr { text-align: center; }
#DataManagementTab table.Type button.ui-widget { font-size: 75%; }
#DataManagementTab table.Type col:nth-of-type(1) { width: 15%; }
#DataManagementTab table.Type col:nth-of-type(2) { width: 20%; }
#DataManagementTab table.Type col:nth-of-type(3) { width: 20%; }
#DataManagementTab table.Type col:nth-of-type(4) { width: 45%; }

	/* Colors, round corners */
#DataManagementTab table.Type tr.Type>th { background: #ccc; }
#DataManagementTab table.Type tr.Controls>th { background: #ddd; }
#DataManagementTab table.Type tr.Item>td { background: #eee; }
#DataManagementTab table.Type tr.Type>th.Type { border-radius: 12px 12px 0px 0px; }
#DataManagementTab table.Type.Hide tr.Type>th.Type { border-radius: 12px; }
#DataManagementTab table.Type tr.Item:last-of-type>td:first-of-type { border-bottom-left-radius: 12px; }
#DataManagementTab table.Type tr.Item:last-of-type>td:last-of-type { border-bottom-right-radius: 12px; }

	/* Make preview background black */
#DataManagementTab #Images table.Type tr.Item td.Preview { background: #000; }

	/* Show/Hide Type groups */
#DataManagementTab table.Type:not(.Hide) tr.Type>th.Type>button.Show { display: none; }
#DataManagementTab table.Type.Hide tr.Type>th.Type>button.Hide { display: none; }
#DataManagementTab table.Type.Hide tr.Type>th.Type>button.Available { display: none; }
#DataManagementTab table.Type.Hide tr:not(.Type)>th { display: none; }
#DataManagementTab table.Type.Hide tr:not(.Type)>td { display: none; }

	/* Preview elements */
#DataManagementTab table.Type tr.Item>td.Preview>* { max-width: 400px; max-height: 100px; }
/* End Type groups */
