.Roster {font-size: 11pt;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; } 
table.Roster, .Roster table, .Roster tr, .Roster td, #PenaltyEditor table, #PenaltyEditor tr, #PenaltyEditor td {border-collapse: collapse;border-color:#777; margin-bottom: 1em; } 
.Roster tr { color: #333; } 
.Roster.Team {top: 0%; } 

/* Colors are the same as the operator controls, so per-team colours look the same on both. */
.Roster.Team thead td { font-size: 1em; font-weight: bold; background-color: #cccccc; color: #333333; } 
/* Similarly for the IWB view and the scoreboard. */
.Roster.Team.AlternateName_scoreboard thead td { background-color: #000; color: #FFF; } 

.Roster.Team td { text-align: center; } 
.Roster.Team .Number { width: 20%; } 
.Roster.Team tr { background-color: #FFF; height: 22px; } 

.Roster.Team tbody tr.Skater[flags=ALT], .Roster.Team tbody tr.Skater[flags=BC] {text-decoration: line-through; } 
