#RulesetsTab .definitions {display: inline-block;vertical-align:top;padding-left: 2px;width: 100%;overflow: auto; } 

#RulesetsTab .Hide { display: none; } 

#RulesetsTab table { width: 100%; } 
#RulesetsTab th { text-align: left; } 

#RulesetsTab .selection { text-align: center; } 
#RulesetsTab .metadata { text-align: center; background-color: #eee; padding: 5px; } 
#RulesetsTab .definitions .buttons { background-color: #ccc; padding: 3px 20px; min-height: 40px; } 
#RulesetsTab .definitions .buttons.top { border-radius: 12px 12px 0px 0px; } 
#RulesetsTab .definitions .buttons.bottom { border-radius: 0px 0px 12px 12px; margin-top: 2px; } 
#RulesetsTab .definitions .buttons button { margin-left: 10px; } 
#RulesetsTab .definitions .buttons span { margin-left: 5px; } 
#RulesetsTab .definitions .section { width: 100%; clear: both; background-color: #eee; } 
#RulesetsTab .definitions .section .header { background-color: #ccc; font-weight: bold; margin-top: 2px; cursor: pointer; } 
#RulesetsTab .definitions .section .definition { width: 100%; height: 1.3em; clear: both; } 
#RulesetsTab .definitions .section .definition:nth-child(odd) { background-color: #ddd; } 
#RulesetsTab .definitions .section .definition div { float: left; } 
#RulesetsTab .definitions .section .definition .name { width: 50%; display: inline-block; position: relative; } 
#RulesetsTab .definitions .section .definition .value { width: 50%; } 
#RulesetsTab .definitions .section:not(.folded) .header:before { content: "-- "; } 
#RulesetsTab .definitions .section.folded .header:before { content: "+ "; } 
#RulesetsTab .definitions .section.folded .definition { display:none; } 

#RulesetsTab .tooltiptext {visibility: hidden;background-color: black;color: #fff;text-align: center;padding: 5px;border-radius: 6px;bottom: 100%;left: 10%;width: 80%;position: absolute;z-index: 1; } 
#RulesetsTab .definitions .section .definition .name:hover .tooltiptext { visibility: visible; } 
#RulesetsTab .tooltiptext::after {content: " ";position: absolute;top: 100%;left: 10%;margin-left: -5px;border-width: 5px;border-style: solid;border-color: black transparent transparent transparent; } 

#RulesetsTab h1 {font-size: 12pt;padding-left: 10px; } 

#RulesetsTab ul {padding-left: 5px; } 

#RulesetsTab li {list-style-type: none; } 
