#ScoreBoardSettings>table { width: 100%; border-spacing: 0px; } 
#ScoreBoardSettings.UsePreview>tr.View { display: none; } 
#ScoreBoardSettings:not(.UsePreview)>tr.Preview { display: none; } 
#ScoreBoardSettings>tr>td { text-align: center; width: 100%; background: #eee; }
#ScoreBoardSettings>tr>td.SubHeader { background: #ddd; }
#ScoreBoardSettings>tr>td.CurrentView>span { font-weight: bold; font-size: 110%; }
#ScoreBoardSettings>tr>td.Header { background: #ccc; border-radius: 12px 12px 0px 0px; font-style: bold; font-size: 150%; } 
#ScoreBoardSettings>tr>td.Header.NoChildren { border-radius: 12px; } 
#ScoreBoardSettings>tr>td.Footer { border-radius: 0px 0px 12px 12px; } 
#ScoreBoardSettings>tr>td.PreviewControl a { font-size: 150%; font-weight: bold; } 
#ScoreBoardSettings>tr>td.Header>span { font-size: 150%; font-weight: bold; } 
#ScoreBoardSettings>tr>td.ViewFrames iframe { width: 100%; height: 300px; } 
#ScoreBoardSettings .EndSubSection>td { padding-bottom: 10px; }
#ScoreBoardSettings .ui-button.ui-state-active, #ScoreBoardSettings .Active { background: #3f3; color: #000; }
#ScoreBoardSettings .StatsFile.Readable::after { content: "✓"; color: green; font-size: 150%; }
#ScoreBoardSettings .StatsFile:not(.Readable):not(.Progress)::after { content: "❌"; color: red; }
#ScoreBoardSettings .StatsFile:not(.Progress) .spin { display: none; }

/* Intermission Control Dialog */
table.IntermissionControlDialog { width: 100%; border-spacing: 0px; } 
table.IntermissionControlDialog>tr>td { text-align: center; } 
table.IntermissionControlDialog>tr.Name>td { width: 100%; background: #ccc; border-radius: 12px 12px 0px 0px; } 
table.IntermissionControlDialog>tr.Control>td { background: #eee; width: 33%; } 
table.IntermissionControlDialog>tr.Control>td:nth-of-type(1) { width: 34%; } 
table.IntermissionControlDialog>tr.Control>td.ShowUnofficial { border-bottom-left-radius: 12px; } 
table.IntermissionControlDialog>tr.Control>td.HideClock { border-bottom-right-radius: 12px; } 
/* End Intermission Control Dialog */

@keyframes spinner {
    0%   { transform: translate3d(-50%, -50%, 0) rotate(0deg);   }
    100% { transform: translate3d(-50%, -50%, 0) rotate(360deg); }
}
#ScoreBoardSettings .spin {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 4px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 20px;
    width: 20px;
    position: relative;
    top: 20px;
    left: 20px;
    display: inline-block;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}
