#Teams { width: 100%; } 
#Teams>tr>td { text-align: center; vertical-align: top; background: #eee; } 
#Teams>tr:first-of-type>td { border-radius: 12px 12px 0px 0px; } 
#Teams>tr.Selection>td { background: #ccc; } 
#Teams>tr.Selection.NoneSelected>td { border-radius: 12px; } 
#Teams>tr:last-of-type>td { border-radius: 0px 0px 12px 12px; } 
#Teams>tr:only-of-type>td { border-radius: 12px; } 

#Teams .Hide { display: none; } 
#Teams button.Active { background: #3f3; } 

#Teams table.Team { width: 100%; border-spacing: 0px; } 
#Teams table.Team tr.Name>td { background: #ccc; border-radius: 12px 12px 0px 0px; font-size: 200%; font-weight: bold; } 
#Teams table.Team tr.Name>td select { font-size: 50%; } 
#Teams table.Team tr.Name>td button { font-size: 50%; margin: 2px 5px; } 
#Teams table.Team tr.Color>td select { margin-right: 2px; } 
#Teams table.Team tr.League>td, #Teams table.Team tr.LTeam>td, #Teams table.Team tr.Color>td { text-align: left; }
#Teams table.Team tr.League>td:first-of-type, #Teams table.Team tr.LTeam>td:first-of-type,
#Teams table.Team tr.Color>td:first-of-type { text-align: right; }
#Teams table.Team .RemoveColor button { font-size: 80%; margin-left: 5px; padding: 2px 5px; } 
#Teams table.Team .RemoveColor { margin: 0px 5px; border-right: 1px solid black; }

#Teams table.Skaters { width: 100%; border-spacing: 0px; } 
#Teams table.Skaters.Empty tr:last-of-type>th:first-of-type { border-radius: 0px 0px 0px 12px; } 
#Teams table.Skaters.Empty tr:last-of-type>th:last-of-type { border-radius: 0px 0px 12px 0px; } 
#Teams table.Skaters tr:last-of-type>td:first-of-type { border-radius: 0px 0px 0px 12px; } 
#Teams table.Skaters tr:last-of-type>td:last-of-type { border-radius: 0px 0px 12px 0px; } 
#Teams table.Skaters tbody tr:nth-of-type(2n)>td { background: #ddd; } 
#Teams table.Skaters col.Name { width: 50%; } 
#Teams table.Skaters col.RosterNumber { width: 20%; } 
#Teams table.Skaters col.Button { width: 15%; } 

#Teams table.Skaters th.Title { font-size: 150%; } 
#Teams table.Skaters th#skaterCount { font-size: 100%; font-weight: normal; } 
#Teams table.Skaters button.AddSkater>span { padding-top: 0em; padding-bottom: 0em; } 
#Teams table.Skaters button.RemoveSkater>span { padding-top: 0em; padding-bottom: 0em; } 

/* Alternate Names Dialog */
div.AlternateNamesDialog { text-align: center; } 
div.AlternateNamesDialog table { width: 100%; border-spacing: 0px; } 
div.AlternateNamesDialog table tr>th.X { width: 10%; } 
div.AlternateNamesDialog table tr>th.Id { width: 45%; } 
div.AlternateNamesDialog table tr>th.Name { width: 45%; } 
div.AlternateNamesDialog table tr>th { background: #ccc; } 
div.AlternateNamesDialog table tr>th:first-of-type { border-radius: 5px 0px 0px 0px; } 
div.AlternateNamesDialog table tr>th:last-of-type { border-radius: 0px 5px 0px 0px; } 
div.AlternateNamesDialog table tr:last-of-type>td:first-of-type { border-radius: 0px 0px 0px 5px; } 
div.AlternateNamesDialog table tr:last-of-type>td:last-of-type { border-radius: 0px 0px 5px 0px; } 
div.AlternateNamesDialog table tr>td { text-align: center; } 
div.AlternateNamesDialog table tr:nth-of-type(odd)>td { background: #eee; } 
div.AlternateNamesDialog table tr:nth-of-type(even)>td { background: #ddd; } 
/* End Alternate Names Dialog */

/* Colors Dialog */
div.ColorsDialog { text-align: center; } 
div.ColorsDialog table { width: 100%; border-spacing: 0px; } 
div.ColorsDialog table thead tr>th.X { width: 10%; } 
div.ColorsDialog table thead tr>th.Id { width: 30%; } 
div.ColorsDialog table thead tr>th.fg { width: 20%; } 
div.ColorsDialog table thead tr>th.bg { width: 20%; } 
div.ColorsDialog table thead tr>th.glow { width: 20%; } 
div.ColorsDialog table thead tr>th { background: #ccc; } 
div.ColorsDialog table thead tr>th:first-of-type { border-radius: 5px 0px 0px 0px; } 
div.ColorsDialog table thead tr>th:last-of-type { border-radius: 0px 5px 0px 0px; } 
div.ColorsDialog table thead tr:last-of-type>td:first-of-type { border-radius: 0px 0px 0px 5px; } 
div.ColorsDialog table thead tr:last-of-type>td:last-of-type { border-radius: 0px 0px 5px 0px; } 
div.ColorsDialog table tr>td { text-align: center; } 
div.ColorsDialog table tr>td.Id { text-align: left; } 
div.ColorsDialog table tbody tr:nth-of-type(odd)>td { background: #eee; } 
div.ColorsDialog table tbody tr:nth-of-type(even)>td { background: #ddd; } 
div.ColorsDialog table tbody tr input[type="color"] { padding: 0; width: 75%; } 
div.ColorsDialog table tbody tr input[type="color"][cleared="true"] + button { background-color: #ff0000; } 
div.ColorsDialog table tbody tr button.ClearPrev { padding: 0; width: 20%; } 
/* End Colors Dialog */

/* Teams Remove Dialog */
div.TeamsRemoveDialog { text-align: center; } 
div.TeamsRemoveDialog a.Title { font-size: 125%; } 
div.TeamsRemoveDialog a.Remove { font-size: 150%; } 
div.TeamsRemoveDialog a.Target { font-weight: bold; font-size: 250%; } 
div.TeamsRemoveDialog a.AreYouSure { font-weight: bold; font-size: 300%; } 
div.TeamsRemoveDialog button.No { float: left; } 
div.TeamsRemoveDialog button.Yes { float: right; } 
/* End Teams Remove Dialog */
