/* Tab divs */
#tabsDiv > div { padding: 0px; } 
/* End Tab divs */

/* Type groups */
/* width, font size, text alignment */
table.Type { width: 100%; border-spacing: 0px; } 
table.Type tr.Type > th.Type > a.Type { font-size: 150%; } 
table.Type > thead > tr.Type { text-align: left; } 
table.Type > thead > tr.Type > th { padding-left: 15px; padding-right: 15px; } 
table.Type > thead > tr.Type > th > button.Right { float: right; } 
table.Type > thead > tr.Controls { text-align: center; } 
table.Type > tbody > tr { text-align: center; } 
table.Type .ui-button { font-size: 75%; } 
table.Type col:nth-of-type(1) { width: 15%; } 
table.Type col:nth-of-type(2) { width: 20%; } 
table.Type col:nth-of-type(3) { width: 50%; } 
table.Type col:nth-of-type(4) { width: 15%; } 

/* Colors, round corners */
table.Type tr.Type > th { background: #ccc; } 
table.Type tr.Controls > th { background: #ddd; } 
table.Type tr.Item > td { background: #eee; } 
table.Type tr.Type > th.Type { border-radius: 12px 12px 0px 0px; } 
table.Type.Hide tr.Type > th { border-radius: 12px; } 
table.Type tr.Item:last-of-type > td:first-of-type { border-bottom-left-radius: 12px; } 
table.Type tr.Item:last-of-type > td:last-of-type { border-bottom-right-radius: 12px; } 

/* Make preview background black */
#images table.Type tr.Item td.Preview { background: #000; } 

/* Show/Hide Type groups */
table.Type:not(.Hide) tr.Type > th > button.ShowTable { display: none; } 
table.Type.Hide tr.Type > th > button.HideTable { display: none; } 
table.Type.Hide tr.Type > th > button.Available { display: none; } 
table.Type.Hide tr:not(.Type) > th { display: none; } 
table.Type.Hide tr:not(.Type) > td { display: none; } 

/* Preview elements */
table.Type tr.Item > td.Preview > * { max-width: 400px; max-height: 100px; } 
/* End Type groups */

#Templates { display: none; }
