
#RosterTab table.Team { width: 100%; border-spacing: 0px; } 
#RosterTab table.Names td { text-align: left; }
#RosterTab table.Names td:first-of-type { text-align: right; }
#RosterTab .Logo { max-width: 50%; max-height: 4em; }

#RosterTab table.Skaters col.Name { width: 50%; } 
#RosterTab table.Skaters col.RosterNumber { width: 15%; } 
#RosterTab table.Skaters col.Pronouns { width: 15%; } 

#RosterTab table.Skaters #skaterCount { font-weight: normal; font-size: 1rem; }

#RosterTab table.Skaters tr[flag='ALT'] { display:none; }
#RosterTab table.Skaters tr[role='Pivot']>td { background: #00ee00 !important; }
#RosterTab table.Skaters tr[role='Jammer']>td { background: #00cc00 !important; }
#RosterTab table.Skaters tr[role='Blocker']>td { background: #70ff70 !important; } 
