<div id="OptionsDialog" class="Dialog InputOnly Lt Plt">
  <table>
    <tr>
      <th>Select Team</th>
    </tr>
    <tr>
      <td><button team="1" sbCall="setTeam" sbContext="Team(1)" sbDisplay="AlternateName(operator),UniformColor,Name"></button></td>
    </tr>
    <tr>
      <td><button team="2" sbCall="setTeam" sbContext="Team(2)" sbDisplay="AlternateName(operator),UniformColor,Name"></button></td>
    </tr>
    <tr>
      <td><button id="OptionZoomable">Allow Pinch Zoom</button></td>
    </tr>
  </table>
</div>

<div id="OptionsDialog" class="Dialog InputOnly Pt">
  <table>
    <tr>
      <td><button id="OptionZoomable">Allow Pinch Zoom</button></td>
    </tr>
  </table>
</div>

<div id="UseLTDialog" class="Dialog InputOnly Lt Plt">Use of Lineup Tracking is disabled.</div>

<div id="PenaltyEditor" class="Dialog Pt Plt">
  <table>
    <tr>
      <td>
        <span>Period: </span><button sel="Period" dir="prev" class="small" sbCall="adjust">-1</button>
        <select class="Period" sbCall="setupJamSelect" />
        <button sel="Period" dir="next" class="small" sbCall="adjust">+1</button>
      </td>
      <td>
        <span>Jam: </span><button sel="Jam" dir="prev" class="small" sbCall="adjust">-1</button>
        <select class="Jam" sbSet="d.Jam" />
        <button sel="Jam" dir="next" class="small" sbCall="adjust">+1</button>
      </td>
    </tr>
  </table>
  <div class="Codes">
    <div PenaltyCode="FO" class="FO_EXP">
      <div class="Code">FO</div>
      <div class="Description"><div>Foul-Out</div></div>
    </div>
    <div
      sbForeach="PenaltyCode::: noId"
      class="Penalty"
      sbDisplay=": toPenaltyCodeDisplay: html"
      sbSet="d.Code: elem.attr('PenaltyCode')"
      sbCall="closePenEd"
    />
    <div
      sbForeach="PenaltyCode::: noId"
      class="FO_EXP"
      sbDisplay=": toExpCodeDisplay: html"
      sbSet="d.Code: elem.attr('PenaltyCode')"
      sbCall="closePenEd"
    />
  </div>
  <table width="100%">
    <tr>
      <td width="50%"><button id="served" sbSet="d.ForceServed: toggle" sbCall="closePenEd">Served</button></td>
      <td width="50%"><button id="clear" sbSet="d.Remove" sbCall="closePenEd">Delete</button></td>
    </tr>
  </table>
</div>

<div id="AnnotationEditor" class="Dialog InputOnly Lt Plt">
  <table>
    <tr class="Box">
      <td><button class="Past" sbSet="d.UnendBoxTrip" sbCall="closeAnnEd">Unend Box Trip</button></td>
      <td><button sbSet="d.Annotation: append | d.Penalty: false">Self Report</button></td>
      <td><button sbSet="d.Annotation: append | d.Penalty: false">Penalty Overturned</button></td>
    </tr>
    <tr class="Box">
      <td colspan="3">
        <span>Substitute: </span>
        <span id="skaterList" class="TeamContext">
          <button
            sbForeach="Skater:: compareRosterNumber: resort=RosterNumber"
            sbAttr="rosterNumber: RosterNumber"
            sbDisplay="RosterNumber"
            sbSet="d.Annotation: subAnn | d.Skater: elem.attr('Skater')"
          ></button>
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="3"><input type="text" size="60" id="annotation" sbSet="d.Annotation: toNullIfEmpty" /></td>
    </tr>
  </table>
</div>

<div id="FieldingEditor" class="Dialog Lt Plt">
  <table class="TeamContext">
    <tr class="Skater">
      <td colspan="2">
        <span id="skaterList">
          <button Skater="" sbSet="d.Skater: elem.attr('Skater')" sbCall="closeFieldEd">?</button>
          <button id="notFielded" sbSet="d.NotFielded: toggle" sbCall="closeFieldEd">None</button>
          <button
            sbForeach="Skater:: compareRosterNumber: resort=RosterNumber"
            sbAttr="rosterNumber: RosterNumber"
            sbDisplay="RosterNumber"
            sbSet="d.Skater: elem.attr('Skater')"
            sbCall="closeFieldEd"
          ></button>
        </span>
      </td>
      <td class="ButtonCell"><button id="sitFor3" sbSet="d.SitFor3: toggle" sbCall="closeFieldEd">Sit out next 3</button></td>
    </tr>
    <tr class="Skater">
      <td colspan="3"><input type="text" size="60" id="annotation" sbSet="d.Annotation: toNullIfEmpty" /></td>
    </tr>
    <tr class="Skater BoxTripComments">
      <td><button sbSet="d.Annotation: append">Self Report</button></td>
      <td><button sbSet="d.Annotation: append">Penalty Overturned</button></td>
    </tr>
    <tr class="tripHeader">
      <td colspan="2">Box Trips</td>
      <td />
    </tr>
    <tr class="tripHeader">
      <td>Start</td>
      <td>End</td>
      <td />
    </tr>
    <tr sbForeach="BoxTrip">
      <td>
        <button class="tripModify" sbSet="StartEarlier">-</button>
        <span sbDisplay="StartJamNumber, StartBetweenJams, StartAfterSP: toBtStartText"></span>
        <button class="tripModify" sbSet="StartLater">+</button>
      </td>
      <td>
        <button class="tripModify" sbSet="EndEarlier">-</button>
        <span sbDisplay="EndJamNumber, EndBetweenJams, EndAfterSP: toBtEndText"></span>
        <button class="tripModify" sbSet="EndLater">+</button>
      </td>
      <td>
        <button class="tripRemove" sbSet="Delete">Remove</button>
        <div sbForeach="Fielding::: noId"></div>
      </td>
    </tr>
    <tr id="tripFooter">
      <td><button id="addTrip" sbSet="d.AddBoxTrip">Add Box Trip</button></td>
      <td />
      <td class="ButtonCell"><button id="close" sbCall="closeFieldEd">Close</button></td>
    </tr>
  </table>
</div>
