
#PenaltyEditor .Codes>div { float: left; width: 150px; height: 90px; margin: 10px; border: 1px solid black; font-size: 11pt; font-weight: bold; } 
#PenaltyEditor .Codes>div.Selected { background-color: #F00; color: #FFF; } 
#PenaltyEditor .Codes>div div { text-align: center; } 
#PenaltyEditor .Codes>div .Code { font-size: 1.2em; background-color: #FAA; color: #000; } 
#PenaltyEditor .Codes>div .Description { font-size: 0.75em; } 
#PenaltyEditor .ui-button.small { font-size: 75%; } 
#PenaltyEditor td { text-align: center; } 

#AnnotationEditor tr.Box > td { width:33%; }
#AnnotationEditor .ui-button { font-size: 75%; } 
#AnnotationEditor .ui-controlgroup { text-align: center; } 
#AnnotationEditor .ui-controlgroup>button { border-radius: 0; margin: 0; } 
#AnnotationEditor .ui-controlgroup>button:first-of-type { border-radius: 6px 0px 0px 6px; } 
#AnnotationEditor .ui-controlgroup>button:last-of-type { border-radius: 0px 6px 6px 0px; } 
#AnnotationEditor .ui-controlgroup>button:only-of-type { border-radius: 6px; } 
#AnnotationEditor .ui-controlgroup>button { padding: 0.4em 0.5em; } 

#OptionsDialog table { text-align: center; margin-left: auto; margin-right: auto; } 

#FieldingEditor { font-size: 11pt; } 
#FieldingEditor table, #FieldingEditor tr, #FieldingEditor td { border-collapse: collapse; border-color:#777; } 
#FieldingEditor .tripHeader { text-align: center; font-size: 95%; background-color: #222; color: #FFF; } 
#FieldingEditor .ButtonCell { text-align: center; } 
#FieldingEditor .ui-button { font-size: 75%; } 
#FieldingEditor .ui-controlgroup { text-align: center; } 
#FieldingEditor .ui-controlgroup>button { border-radius: 0; margin: 0; } 
#FieldingEditor .ui-controlgroup>button:first-of-type { border-radius: 6px 0px 0px 6px; } 
#FieldingEditor .ui-controlgroup>button:last-of-type { border-radius: 0px 6px 6px 0px; } 
#FieldingEditor .ui-controlgroup>button:only-of-type { border-radius: 6px; } 
#FieldingEditor .ui-controlgroup>button { padding: 0.4em 0.5em; } 

#FieldingEditor .BoxTrip>td, #FieldingEditor .Skater>td { padding: 0.5em 0em; } 

#sitFor3, #notFielded { color: #000; padding: .3em .6em; } 
