:root { --button-margin: 1dvh; --button-margin: min(2 * var(--segment-corner-radius), 1dvh); }
body { margin: 0; padding: 0; width: 100dvw; height: 100dvh; }
div { position: absolute; margin: 0; top: 0; left: 0; height: inherit; width: inherit; text-align: center; border-radius: var(--segment-corner-radius); }
button.AutoFit { position: absolute; margin: var(--button-margin); top: 0; left: 0; height: calc(100% - 2 * var(--button-margin)); width: calc(100% - 2 *  var(--button-margin)); }
.Buttons.Buttons>* { width: calc(50% - 2 *  var(--button-margin)); }
.Buttons.Buttons>*+* { left: 50%; }
.MainButton>button { margin: 0; height: 100%; width: 100%; }
.Group { background: var(--group-bg); color: var(--group-fg); }

.Clocks [Clock]:not(.Running) { display: none; }
.Clocks [Clock].Running ~ [Clock].Running { display: none; }
.Clocks .ClockName { font-weight: bold; }
.Clocks .Running, .Clocks [Clock="Jam"].InJam { background: var(--element-active-bg); color: var(--element-active-fg); } 
.Clocks .Running.NoMoreJam { background: var(--element-inbox-bg); color: var(--element-inbox-fg); } 
.Clocks .Time>button { padding: 0 0.4em; margin: 0.3em 0; vertical-align: unset; }

.TimeoutType .Count { font-weight: bold; }
.TimeoutType .TeamName { font-weight: bold; }

.Settings { background-color: var(--nodistract-bg); color: var(--nodistract-fg); }

.ui-dialog div { margin: unset; top: unset; left: unset; height: unset; position: unset; font-size: 3dvh;}
#SettingsDialog .sbGroup { flex-wrap: wrap; row-gap: .5dvh; }

/* 
 * Positioning 
 */
.Clocks { height: 12.5dvh; }
.Clocks>.Period { height: 6dvh; }
.Clocks>.Jam { top: 6.5dvh; height: 6dvh; }
.ClockName { width: 50dvw; }
.Time { left: 50dvw; width: 50dvw; }
.TimeoutType { top: 13dvh; height: 30.5dvh; }
[Team] { width: 49.5dvw; height: 24dvh; }
[Team="2"] { left: 50.5dvw; }
.ToButtonRow, .TeamName { height: 6dvh; }
.TTO { top: 6dvh; }
.OR { top: 12dvh; }
.Retained { top: 18dvh; }
.OTO { top: 24.5dvh; height: 6dvh; }
.ToButtonRow>.Button { width: 80%; }
.ToButtonRow>.Count { left: 80%; width: 20%; }
[Team="2"] .Button { left: 20%; }
[Team="2"] .Count { left: 0; }
.ClockButtons { top: 44dvh; height: 26dvh; }
.ClockButtons > div { height: 6dvh; }
.Settings>div { width: calc(100% / 3 - .5dvw); left: .25dvw; }
.Settings>div.FullWidth { width: 99.5dvw; height: 6dvh; }
.Settings>.ToggleSettings { left: calc(100% / 3 + .25dvw); }
.Settings>.FiveSeconds { left: calc(2 * 100% / 3 + .25dvw); }
.Start { top: 6.5dvh; }
.Undo { top: 13dvh; }
.Stop, .Timeout { top: 19.5dvh; }
.ClockButtons > .MainButton { position: fixed; top: 70dvh; height: 30dvh; }
