body { margin: 0; padding: 0; }
.sbSegment { height: 50dvh; display: flex; flex-direction: column; }
.sbGroup { flex: 1; padding: 0; }
.ui-button, .ui-button:hover { background: linear-gradient(0deg, #eee, #f6f6f6); }

.Clocks { flex: 2; }
.Clocks .ClockName { font-weight: bold; font-size: 5dvh; }
.Clocks .ClockName.Running { background: #3f3; } 
.Clocks [Clock="Jam"] .ClockName.InJam { background: #3f3; } 
.Clocks .ClockName.Running.NoMoreJam { background: #f33; } 
.Clocks .Time>button { font-size: 5dvh; padding: 0.1em 0.4em; }
.Clocks .Time>div { font-size: 7dvh; }

.TimeoutType { flex: 3; }
.TimeoutType .TeamName { font-weight: bold; font-size: 5vh; }
.TimeoutType>div { flex: 2; }
.TimeoutType>.OTO { flex: 1; }
.TimeoutType>div>div { flex: 1; }
.TimeoutType>[Team="2"]>div { flex-direction: row-reverse; }
.TimeoutType button { font-size: 5dvh; padding: 0.3em; flex: 1; }

.sbGroup.Settings, .sbGroup.ReplaceInfo { flex: 0; font-size: 3dvh; }
.sbGroup.Settings>button, .sbGroup.ReplaceInfo>span { padding: 0.3em 0.6em; }
.JamControls>button {  flex: 1; height: 100%; font-size: 10dvh; padding: 0.1em; }
