
body { font-family: Ubuntu, sans-serif;  margin: 0; }

label  { font-variant: small-caps; }

.current { background: red; color: white; }

.controls-left { float: left; width: 140px; margin-right: 6px; }
.controls-right { float: right; width: 140px; margin-left: 6px; }
.controls-wide { width: 210px; }

.key { text-decoration: underline; color: yellow; }

.containerPreview {
    margin: 20px;
		width: 950px;
		height: 400px;
}
.wrap {
    float: left;
    width: 640px;
    height: 360px;
    padding: 0;
    overflow: hidden;
		border: 1px solid black;

    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ddd), color-stop(.25, transparent)), 
                      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ddd), color-stop(.25, transparent)),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ddd)),
                      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ddd));

    background-size: 16px 16px;
    -webkit-background-size:16px 16px; /* override value for shitty webkit */

    background-position:0 0, 8px 0, 8px -8px, 0px 8px;
}

.frame { border: 0; }
.frame.FHD {
    width: 1920px; height: 1080px;
    -ms-transform: scale(0.3333); -moz-transform: scale(0.3333); -o-transform: scale(0.3333); -webkit-transform: scale(0.3333); transform: scale(0.3333);
    -ms-transform-origin: 0 0; -moz-transform-origin: 0 0; -o-transform-origin: 0 0; -webkit-transform-origin: 0 0; transform-origin: 0 0;
}

.frame.HD {
    width: 1280px; height: 720px;
    -ms-transform: scale(0.5); -moz-transform: scale(0.5); -o-transform: scale(0.5); -webkit-transform: scale(0.5); transform: scale(0.5);
    -ms-transform-origin: 0 0; -moz-transform-origin: 0 0; -o-transform-origin: 0 0; -webkit-transform-origin: 0 0; transform-origin: 0 0;
}

.frame.SD { width: 768px; height: 576px; }
.frame.SDW { width: 1048px; height: 576px; }
.frame.LDW { width: 720px; height: 480px; }
.frame.LD { width: 640px; height: 480px; } 

h2 { margin: 0 0 10px 0; padding: 4px 4px; display: block; border-radius: 6px; text-align: center; }

.ExtraForm { margin: 20px 0; }
.ExtraForm .in { margin: 6px;  text-align: center; }



button, input, select { 
    outline: none; cursor: pointer; 
    padding: 8px 8px; border-radius: 8px;
    font-size: .8em;
    width: 100%; 
    color: white; background: #666;
    margin-bottom: 2px;
}

select { display: inline-block; appearance:none; }

button.ToggleAlert,
button.ToggleSwitch {
    cursor: pointer; outline: none; 
    width: 100%;
    transition: all .5s ease;
}

.group { clear: both; }
.group button.FullButton { width: 49%; float: left; margin-left: 2%; }
.group-three button.FullButton { width: 32%; }

.group button.FullButton:first-child {
  margin-left: 0;
}



button.SlideSwitch	    { border: 0px solid; border-color: #999 #999 #999 #FF0000;    background: #666; border-left-width: 20px;  border-right-width: 0px; text-decoration: none; }
button.SlideSwitch.current { border: 0px solid; border-color: #999 #00FF00 #999 #999 ;  background: #666; border-right-width: 20px; border-left-width: 0px; text-decoration: none; }

button.ToggleAlert	    { background: #666; border: 0; }
button.ToggleAlert.current  { background: red; border: 0;  }
button.ToggleAlert.current { animation: DotActive 0.75s infinite steps(6); -webkit-animation: DotActive 0.75s infinite steps(6); }
@-webkit-keyframes DotActive {  0% { background: #000; } 50% { background: #d00; } 100% { background: #F00; } }

button.FullButton { border: 0; }
button.FullButton.current { border: 0; background: red; }

button.Reverse 		     { border-color: #999 #999 #999 #FF0000; border-left-width: 20px; border-right-width: 0px; }
button.Reverse.current	    { border-color: #999 #00FF00 #999 #999; border-right-width: 20px; border-left-width: 0px; }

button.Reverse.changed,
button.Reverse.changed.current { border-color: #999 #999 #999 #ffa500; border-left-width: 20px; border-right-width: 0px; }

button.Reverse:before			{ content: 'Show [ ]'; }
button.Reverse.current:before		{ content: 'Hide [ ]'; }
button.Reverse.changed.current:before	{ content: 'Switch [ ]'; }

h2  { font-variant: small-caps; font-size: 1.2em; }

