<html>
	<head>
		<script type="text/javascript" src="/external/jquery/jquery.js"></script>
		<script type="text/javascript" src="/json/core.js"></script>
		<script type="text/javascript" src="/json/WS.js"></script>
		<script type="text/javascript" src="dataset.js"></script>
	</head>

	<body>

	<div class="container containerPreview">
		<h1>OVERLAY CONTROLS</h1>

		<div class="controls controls-vertical controls-left">

			<button data-key="S" data-setting="ScoreBoard.Settings.Setting(Overlay.DDTV.Top)" class="ToggleSwitch SlideSwitch"><span class="key">S</span>corebar</button> 
			<button data-key="J" data-setting="ScoreBoard.Settings.Setting(Overlay.DDTV.ShowJammers)" class="ToggleSwitch SlideSwitch"><span class="key">J</span>ammer Name</button><br/>
	
			<br/>OVERLAY PANELS<br/><br/>
			<small style="display: block; text-align: center;">ROSTERS</small>
			<div class="group">
				<button data-key="1" data-setting="ScoreBoard.Settings.Setting(Overlay.DDTV.Panel)" class="ToggleSwitch FullButton SetValue" style="" data-value="RosterTeam1">Team <span class="key">1</span></button>
				<button data-key="2" data-setting="ScoreBoard.Settings.Setting(Overlay.DDTV.Panel)" class="ToggleSwitch FullButton SetValue" style="" data-value="RosterTeam2">Team <span class="key">2</span></button>
			</div>
			<small style="display: block; text-align: center;">PENALTY BOARDS</small>
			<div class="group">
				<button data-key="3" data-setting="ScoreBoard.Settings.Setting(Overlay.DDTV.Panel)" class="ToggleSwitch FullButton SetValue" style="" data-value="PenaltyTeam1"><span class="key">3</span> Pen 1</button>
				<button data-key="4" data-setting="ScoreBoard.Settings.Setting(Overlay.DDTV.Panel)" class="ToggleSwitch FullButton SetValue" style="" data-value="PenaltyTeam2"><span class="key">4</span> Pen 2</button>
			</div>
			<button data-key=" " data-setting="ScoreBoard.Settings.Setting(Overlay.DDTV.Panel)" class="ToggleSwitch FullButton SetValue" data-value=""><span class="key"> </span> Clear</button><br/>
		</div>

		<div class="wrap FHD"><iframe class="frame FHD" src="index.html"></iframe></div>

		<div class="controls controls-vertical controls-right">
			<small style="display: block; text-align: center;">DISPLAY MODE</small>
			<div class="group">
				<input type="hidden" data-setting="ScoreBoard.Settings.Setting(Overlay.DDTV.Mode)" id="OverlayMode" data-source="#OverlayModeSelect"> </input>
				<select class="SelectUpdator" id="OverlayModeSelect" data-setting="Setting(ScoreBoard.Settings.Overlay.DDTV.Mode)" data-target="#OverlayMode">
					<option value="alpha">Alpha</option>
					<option value="green">Green</option>
				</select>
			</div>

			<small style="display: block; text-align: center;">RESOLUTION</small>
			<div class="group">
				<input type="hidden" data-setting="ScoreBoard.Settings.Setting(Overlay.DDTV.Resolution)" id="OverlayRes" data-add-class-to=".frame, .wrap" data-remove-class="FHD HD SDW SD LDW LD" data-source="#OverlayResSelect"> </input>
				<select class="SelectUpdator" id="OverlayResSelect" data-setting="ScoreBoard.Settings.Setting(Overlay.DDTV.Resolution)" data-target="#OverlayRes">
					<option value="FHD">Full HD (1920x1080)</option>
					<option value="HD">HD (1280x720)</option>
					<!--<option value="SD">SDTV (768x576)</option>
					<option value="SDW">SDTV Widescreen (1048x576)</option>
					<option value="LD">SD (640x480)</option>
          <option value="LDW">SD Widescreen (720x480)</option> -->
				</select>
			</div>

			<small style="display: block; text-align: center;">CLOCK FONT</small>
			<div class="group">
				<input type="hidden" data-setting="ScoreBoard.Settings.Setting(Overlay.DDTV.Font.Clock)" id="OverlayClockFont" data-source="#OverlayClockFontSelect"> </input>
				<select class="SelectUpdator" id="OverlayClockFontSelect" data-setting="ScoreBoard.Settings.Setting(Overlay.DDTV.Font.Clock)" data-target="#OverlayClockFont">
					<option value="ClockFaceDigital7">Digital 7</option>
					<option value="ClockFaceErics">Erics</option>
					<option value="ClockFaceTick">Tick</option>
					<option value="ClockFaceLCD14">LCD14</option>
					<option value="ClockFaceUbuntu">Ubuntu</option>
					<option value="ClockFaceVerdana">Verdana</option>
					<option value="ClockFaceHelvetica">Helvetica</option>
					<option value="ClockFaceArial">Arial</option>
					<option value="ClockFaceSerif">Default Serif</option>
					<option value="ClockFaceSans">Default Sans-Serif</option>
				</select>
			</div>

		</div>

		</div>
	</div>

</div>

</body>
</html>
