<html>
	<head>
		<script type="text/javascript" src="/external/jquery/jquery.js"></script>
		<script type="text/javascript" src="/json/core.js"></script>
		<script type="text/javascript" src="/json/WS.js"></script>

		<style  type="text/css" title="jsStyle"></style>
	</head>

	<body class="preload HD">

    <div id="logo"></div>

		<div id="sb" sbContext="ScoreBoard" class="JamScore StyleTraditional" data-setting="ScoreBoard.FrontendSettings.Overlay.DDTV.ShowJammers">

			<div class="PanelWrapperTop">
				<div data-setting="ScoreBoard.FrontendSettings.Overlay.DDTV.Top" class="Top AnimatedPanel PanelHideTop Wrapper">	

          <div class="TopUpper">
            <div class="Team1 LeftHandSide" sbContext="Team(1)">	
              <div class="LeadWrap"><div class="Team1ColourBgAsFg Lead">&#9733;</div></div>
              <div class="InLine JamScore" sbDisplay="JamScore"></div>
              <div class="ColourTeam1 Dot Timeout1">1</div><div class="ColourTeam1 Dot Timeout2">2</div><div class="ColourTeam1 Dot Timeout3">3</div><div class="Dot OfficialReview1"><span>O</span></div>
            </div>

            <div class="Team2 RightHandSide" sbContext="Team(2)">	
              <div class="LeadWrap"><div class="Team2ColourBgAsFg Lead">&#9733;</div></div>
              <div class="Dot OfficialReview1"><span>O</span></div><div class="ColourTeam2 Dot Timeout3">3</div><div class="ColourTeam2 Dot Timeout2">2</div><div class="ColourTeam2 Dot Timeout1">1</div><div class="InLine JamScore" sbDisplay="JamScore"></div>
            </div>

            <div class="Skew Middle SlideUp ShowInIntermission ShowInTimeout ClockDescription">
              <div class="DeSkew" sbDisplay="Clock(Intermission).Running, Clock.(Intermission).Number, Clock(Timeout).Name, Clock(Timeout).Running, TimeoutOwner, OfficialReviews, Team(1).Timeouts, Team(2).OfficialReviews, Team(2).Timeouts, FrontendSettings.ScoreBoard.Intermission.PreGame, FrontendSettings.ScoreBoard.Intermission.Intermission, FrontendSettingsScoreBoard.Intermission.Unofficial, FrontendSettings.ScoreBoard.Intermission.Official, OfficialScore, Clock(Intermission).Number, Clock(Intermission).MaximumNumber" sbModify="clockType"></div>
            </div>
          </div>

          <div class="Skew TopBar">

            <div class="ColourTeam1 Team Team1" sbContext="Team(1)">	
              <span class="DeSkew ColourTeam1Reverse Score" sbDisplay="Score"></span>
              <span class="DeSkew Name" sbDisplay="Name"></span>
            </div>

            <div class="ColourTeam2 Team Team2" sbContext="Team(2)">	
              <span class="DeSkew ColourTeam2Reverse Score" sbDisplay="Score"></span>
              <span class="DeSkew Name" sbDisplay="Name"></span>
            </div>

            <div class="CenterClocks">
              <div class="DeSkew">
                <div class="Clock Show ShowInJam ShowInLineup ShowInTimeout FloatLeft">
                  <div class="SmallTime TextRight" sbDisplay="Clock(Period).Name,Clock(Period).Number" sbModify="updatePeriod"></div>
                  <div class="MultiTime TextLeft" sbContext="Clock(Period)" sbDisplay="Time" sbModify="toTime"></div>
                </div>
                <div class="Clock Show ShowInJam FloatRight" sbContext="Clock(Jam)">
                  <div class="MultiTime TextRight" sbDisplay="Time" sbModify="toTime"></div>
                  <div class="SmallTime TextLeft" sbDisplay="Number" sbModify="updateJam"></div>
                </div>
                <div class="Clock isLineUp ShowInLineUp FloatRight" sbContext="Clock(Lineup)">
                  <div class="MultiTime TextRight" sbDisplay="Time" sbModify="toTime"></div>
                  <div class="SmallTime">LU</div>
                </div>
                <div class="Clock ClockWide isIntermission ShowInIntermission" sbContext="Clock(Intermission)">
                  <div class="MultiTime TextCenter" sbDisplay="Time" sbModify="toTime"></div>
               </div>
               <div class="Clock isTimeout ShowInTimeout">
                  <div class="MultiTime TextRight" sbContext="Clock(Timeout)" sbDisplay="Time" sbModify="toTime"></div>
                  <div class="SmallTime">TO</div>
               </div>
            </div><!-- deskew -->
          </div><!-- Center Clocks -->

        </div><!-- Top Bar -->
      </div><!-- Top PanelOverlay-->
    </div><!-- Overlay Wrapper -->

      <div style="display: none;">
        <div style="display: none;">
					<div class="Team1" sbContext="Team(1)">	
					<div class="Team Row Wrapper barBackgroundTop"> 
						<div class="Indicator ColourTeam1 Box">&nbsp;</div>
						<div class="Name  VerticalCenter Box" sbDisplay="Name"></div>
						<div class="Score VerticalCenter Box" sbDisplay="Score"></div>
						<div class="Mini Box">
							<div class="JamScore" sbDisplay="JamScore"></div>
							<div class="LeadJammer Lead">&#9733;</div>
						</div>
						<div class="DotTimeouts Box">
							<div class="Dot Timeout1"></div><div class="Dot Timeout2"></div><div class="Dot Timeout3"></div><div class="Dot OfficialReview1"></div>
						</div>
					</div>
					<div class="JammerWrapper">
						<div class="JammerBox ShowInJam Clock ColourTeam1">
							<div class="JammerName VerticalCenter Box" sbDisplay="LeadJammer,StarPass,Position(Jammer),Position(Pivot),Skater" sbModify="jammer"></div>
						</div>
					</div>
					</div>
					<div class="Team2" sbContext="Team(2)">
						<div class="Team Row Wrapper barBackgroundBottom">
							<div class="Indicator ColourTeam2 Box">&nbsp;</div>
							<div class="Name Box" sbDisplay="Name"></div>
							<div class="Score Box" sbDisplay="Score"></div>
							<div class="Mini Box"><div class="JamScore" sbDisplay="JamScore"></div><div class="LeadJammer Lead">&#9733;</div></div>
							<div class="DotTimeouts Box"><div class="Dot Timeout1"></div><div class="Dot Timeout2"></div><div class="Dot Timeout3"></div><div class="Dot OfficialReview1"></div></div>
						</div>
						<div class="JammerWrapper">
							<div class="JammerBox ShowInJam Clock ColourTeam2"><div class="JammerName" sbDisplay="LeadJammer,StarPass,Position(Jammer),Position(Pivot),Skater" sbModify="jammer"></div></div>
						</div>
					</div>

        </div>
			</div>	

      <div class="PanelWrapperCenter">
        <!-- TEAM ROSTERS -->
        <div class="RosterTeam1 TeamList PanelHideLeft Wrapper OverlayPanel LargePanel AnimatedPanel AnimationDelay" sbContext="Team(1)" >
          <div class="Skew TeamHeading ColourTeam1"><h1 class="LongName DeSkew" sbDisplay="AlternateName(overlay),Name"></h1></div>
          <div class="Skew PenaltyTag"><div class="DeSkew">TEAM ROSTER</div></div>
        </div>

				<div class="RosterTeam1 TeamList LowerPart AnimationDelay PanelHideRight Wrapper OverlayPanel LargePanel AnimatedPanel ColourTeamLight">
          <div class="LargeTeamLogoWrap"><img class="LargeOpaqueTeamLogo TeamLogo1 pulse" src="" /></div>
          <div class="RosterTeam" style="position: relative;"><div class="Wrapper Team Team1 SortBox"></div></div>
				</div>


        <div class="RosterTeam2 TeamList PanelHideLeft Wrapper OverlayPanel LargePanel AnimatedPanel AnimationDelay" sbContext="Team(2)" >
          <div class="Skew TeamHeading ColourTeam2"><h1 class="LongName DeSkew" sbDisplay="AlternateName(overlay),Name"></h1></div>
          <div class="Skew PenaltyTag"><div class="DeSkew">TEAM ROSTER</div></div>
        </div>

				<div class="RosterTeam2 TeamList LowerPart AnimationDelay PanelHideRight Wrapper OverlayPanel LargePanel AnimatedPanel ColourTeamLight">
          <div class="LargeTeamLogoWrap"><img class="LargeOpaqueTeamLogo TeamLogo2 pulse" src="" /></div>
          <div class="RosterTeam" style="position: relative;"><div class="Wrapper Team Team2 SortBox"></div></div>
				</div>

        <!-- Penalty Boards -->

        <div class="PenaltyTeam1 TeamList PanelHideLeft Wrapper OverlayPanel LargePanel AnimatedPanel AnimationDelay" sbContext="Team(1)" >
          <div class="Skew TeamHeading ColourTeam1"><h1 class="LongName DeSkew" sbDisplay="AlternateName(overlay),Name"></h1></div>
          <div class="Skew PenaltyTag"><div class="DeSkew">PENALTY BOARD</div></div>
        </div>

        <div class="PenaltyTeam1 TeamList PanelHideLeft Wrapper LowerPart OverlayPanel LargePanel AnimatedPanel ColourTeamLight">
          <div class="LargeTeamLogoWrap"><img class="LargeOpaqueTeamLogo TeamLogo1 pulse" src="" /></div>
          <div class="PenaltyTeam1 PenaltyTeam" style="position: relative;"><div class="Wrapper Team Team1 SortBox"></div></div>
        </div>

        <div class="PenaltyTeam2 TeamList PanelHideRight Wrapper OverlayPanel LargePanel AnimatedPanel AnimationDelay" sbContext="Team(2)" >
          <div class="Skew TeamHeading ColourTeam2"><h1 class="LongName DeSkew" sbDisplay="AlternateName(overlay),Name"></h1></div>
          <div class="Skew PenaltyTag"><div class="DeSkew">PENALTY BOARD</div></div>
        </div>

        <div class="PenaltyTeam2 TeamList PanelHideRight Wrapper LowerPart OverlayPanel LargePanel AnimatedPanel ColourTeamLight">
          <div class="LargeTeamLogoWrap"><img class="LargeOpaqueTeamLogo TeamLogo2 pulse" src="" /></div>
          <div class="PenaltyTeam2 PenaltyTeam PenaltyTeamPadder" style="position: relative;"><div class="Wrapper Team Team2 SortBox"></div></div>
        </div>

				<div class="Upcoming PanelHideLeft Wrapper OverlayPanel LargePanel AnimatedPanel">
					<div>
						<img class="TeamLogo TeamLogo1" src="" style="float: left;" />
						<h1 class="ColourTeam1" sbDisplay="AlternateName(overlay),Name" sbContext="Team(1)" style="margin-top: 2em; margin-left: 4em; margin-right: 0;"></h1>	
					</div>
					<div class="UpcomingVS">VS</div>
					<div>
						<img class="TeamLogo TeamLogo2" src="" style="float: right;" />
						<h1 class="ColourTeam2" sbDisplay="AlternateName(overlay),Name" sbContext="Team(2)" style="margin-top: 2em; margin-left: 0; margin-right: 4em;"></h1>	
					</div>
				</div>

			</div>

			<div class="PanelWrapperLeft">
				<div class="LowerThird Wrapper OverlayPanel AnimatedPanel PanelHideLeft">
					<h4 class="Line1" sbDisplay="ScoreBoard.FrontendSettings.Overlay.DDTV.LowerThird.Line1" /> <h5 class="Line2" sbDisplay="ScoreBoard.FrontendSettings.Overlay.DDTV.LowerThird.Line2" />
				</div>
			</div>

  </div><!-- #sb -->
	<div id="VIDEO-GREEN" class="VideoBackground"></div>
	<div id="VIDEO-CAMERA" class="VideoBackground"><video></video></div>
</html>

