.SK, #TripEditor {	
	font-size: 11pt;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
table.SK, .SK .table, .SK tr, .SK td, #TripEditor table, #TripEditor tr, #TripEditor td {
	border-collapse: collapse;
	border-color:#777;
}
.SK tr {
    color: #333;
}
.SK .Hide { display: none; }
.SK.Period { width: 98%; table-layout:fixed; margin: 1%; }
.SK.Period thead td { font-size: 95%; background-color: #cccccc; color: #333333; }
.SK.Period .SmallHead>div { font-size: 75%; transform: rotate(270deg); }
.SK.Period td { text-align: center; vertical-align: middle; }
.SK.Period tr { background-color: #FFF; }
.SK.Period tr:nth-child(4n+0), .SK.Period tr:nth-child(4n-1) { background-color: #e9f6da; }
.SK.Period tr .Darker { background-color: #e9f6da; }
.SK.Period tr:nth-child(4n+0) .Darker, .SK.Period tr:nth-child(4n-1) .Darker { background-color: #d3ecb6; }
.SK.Period .JamNumber { width: 30px; }
.SK.Period .Jammer { width: 50px; }
.SK.Period .Narrow, .Period .SmallHead { width: 14px; }
.SK.Period #head { font-size: 200%; }
.SK.Period .Trip, .Period .JamTotal, .Period .GameTotal { width: 9%; }
.SK.Period .GameTotal { background-color: #d3ecb6; }

#TripEditor input[type="number"] { width: 50px; }
#TripEditor td { padding-bottom: 0.5em; }
