<html>
	<head>
		<script type="text/javascript" src="/external/jquery/jquery.js"></script>
		<script type="text/javascript" src="/json/core.js"></script>
		<script type="text/javascript" src="/json/WS.js"></script>
	</head>

	
	<body>

	<div id="Controls">
		<div id="Core">
		<button data-setting="Custom.Overlay.Clock" data-offstate="HideClock" data-onstate="ShowClock" value="ShowClock" class="Toggle">Clock</button><br/>
		<button data-setting="Custom.Overlay.Score" data-offstate="HideScore" data-onstate="ShowScore" value="ShowScore" class="Toggle">Score</button><br/>
		</div>
		<br/>

		<div id="Panel">
		<button data-setting="Custom.Overlay.Panel" value="Default">Default</button><br/>
		<button data-setting="Custom.Overlay.Panel" value="PPJBox">Points/Jam</button><br/>
		<button data-setting="Custom.Overlay.Panel" value="RosterTeam1">Roster Team 1</button><br/>
		<button data-setting="Custom.Overlay.Panel" value="RosterTeam2">Roster Team 2</button><br/>
		<button data-setting="Custom.Overlay.Panel" value="PenaltyTeam1">Penalties Team 1</button><br/>
		<button data-setting="Custom.Overlay.Panel" value="PenaltyTeam2">Penalties Team 2</button><br/>
		<button data-setting="Custom.Overlay.Panel" value="BottomClock">Intermission Clock</button><br/>

		<br/><br/>
		<input data-setting="Custom.Overlay.LowerThird.Subject" type="text"/><br/>
		<input data-setting="Custom.Overlay.LowerThird.Text" type="text"/><br/>
		<button data-setting="Custom.Overlay.Panel" value="LowerThirdSlide">Lower Third: Slide</button><br/>
		<button data-setting="Custom.Overlay.Panel" value="LowerThirdWobble">Lower Third: Wobble</button><br/>
		</div>

	</div>
	<div id="Preview">
		<iframe src="index.html" style="border: 3px solid black; margin: 10px; width: 95%; height: 95%; ">
		</iframe>
	</div>

	</body>
</html>
