<html>
	<head>
		<script type="text/javascript" src="/external/jquery/jquery.js"></script>
		<script type="text/javascript" src="/json/core.js"></script>
	</head>
	<body>
		<div class="ConnectionError">Not connected</div>
		<div id="sb">
			<div class="Team Team1 Name AutoFit"><div><a></a></div></div>
			<div class="Team Team1 Logo">&nbsp;</div>
			<div class="Team Team1 Score Box AutoFit"><div><a></a></div></div>
			<div class="Team Team1 JamScore Box AutoFit"><div><a></a></div></div>
			<div class="Team Team1 Timeouts Box">
				<div class="Number AutoFit"><div><a></a></div></div>
				<div class="Dot 1"></div>
				<div class="Dot 2"></div>
				<div class="Dot 3"></div>
			</div>
			<div class="Team Team1 OfficialReviews Box">
				<div class="Number AutoFit"><div><a></a></div></div>
				<div class="Dot 1"></div>
			</div>

			<div class="Team Team2 Name AutoFit"><div><a></a></div></div>
			<div class="Team Team2 Logo">&nbsp;</div>
			<div class="Team Team2 Score Box AutoFit"><div><a></a></div></div>
			<div class="Team Team2 JamScore Box AutoFit"><div><a></a></div></div>
			<div class="Team Team2 Timeouts Box">
				<div class="Number AutoFit"><div><a></a></div></div>
				<div class="Dot 1"></div>
				<div class="Dot 2"></div>
				<div class="Dot 3"></div>
			</div>
			<div class="Team Team2 OfficialReviews Box">
				<div class="Number AutoFit"><div><a></a></div></div>
				<div class="Dot 1"></div>
			</div>

			<div class="Timeouts Header Box AutoFit"><a>Timeouts</a></div>
			<div class="Team Team1 OfficialReviews Header Box AutoFit"><a>OR</a></div>
			<div class="Team Team2 OfficialReviews Header Box AutoFit"><a>OR</a></div>

			<!-- Jam In Progress -->
			<div class="Clock Period Large">
				<div class="Box Name FlatDark FlatBottom AutoFit"><span class="Name"></span> <span class="Number"></span></div>
				<div class="Box Time FlatTop AutoFit"><div><a></a></div></div>
			</div>
			<div class="Clock Jam Large">
				<div class="Box Name FlatDark FlatBottom AutoFit"><span class="Name"></span> <span class="Number"></span></div>
				<div class="Box Time FlatTop AutoFit"><div><a></a></div></div>
			</div>

			<!-- Lineup / Timeout Clocks Running -->
			<div class="Clock Period Small">
				<div class="Box Time AutoFit"><div><a></a></div></div>
				<div class="Box Name AutoFit"><span class="NameInitial"></span><span class="Number"></span></div>
			</div>
			<div class="Clock Jam Small">
				<div class="Box Name AutoFit"><span class="NameInitial"></span><span class="Number"></span></div>
			</div>
			<div class="Clock Description Small">
				<div class="Box AutoFit"><div><a></a></div></div>
			</div>
			<div class="Clock Lineup Small">
				<div class="Box Time AutoFit"><div><a></a></div></div>
			</div>
			<div class="Clock Timeout Small">
				<div class="Box Time AutoFit"><div><a></a></div></div>
			</div>

			<!-- Intermission -->
			<div class="Clock Intermission">
				<div class="Box Description AutoFit"><div><a></a></div></div>
				<div class="Box Time AutoFit"><div><a></a></div></div>
			</div>
		</div>
	</body>
</html>
