body { user-select: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; }
body[showTeam="1"]>.Content>[Team="2"], body[showTeam="2"]>.Content>[Team="1"] { display: none; }

.Content { display: grid; grid: auto auto auto auto / 1fr 1fr; gap: 1px; }
body[showTeam="1"]>.Content { grid-template-columns: 1fr 0; }
body[showTeam="2"]>.Content { grid-template-columns: 0 1fr; }
.Content>.GameAdvance { grid-area: 1 / 1 / 2 / 3; }
.Content>[Team="1"] { grid-column: 1 / 2; }
.Content>[Team="2"] { grid-column: 2 / 3; }
.Content>.Input { grid-row: 2 / 3; }
.Content>.Sheet { grid-row: 3 / 4; }

#OptionsDialog .Teams { flex-direction: column; } 
