<div id="PenaltyList">
  <div class="sbGroup sbHeader">Current Penalties</div>
  <div
    class="sbGroup sbStack Trip"
    sbContext="Team(*)"
    sbForeach="BoxTrip::time,num:resort=Clock.Time"
    sbAttr="time:Clock.Time | Team:-:k.Team"
    sbClass="sbHide: IsCurrent: ! | Stand: Clock.Time: <=10000 | Done: EndFielding: sbIsNotEmpty"
  >
    <div class="Info">
      <span class="sbVeryImportant">
        <span sbDisplay="^AlternateName(box),^UniformColor,^Name"></span> <span sbDisplay="RosterNumber"></span>
      </span>
      <span class="sbVeryImportant Instruction" sbDisplay="Clock.Time, EndFielding: penToInstruction"></span>
      <span class="sbVeryVeryImportant" sbDisplay="Clock.Time: sbToSeconds"></span>
      <span class="sbImportant">
        <span class="sbShowOnBoxView"><span sbDisplay="PenaltyCodes"></span> | </span>
        <span>Total: <span sbDisplay="TotalPenalties"></span></span>
      </span>
    </div>
    <div class="sbShowOnPbt Edit">
      <span>
        <button sbClass="sbClickMe: CurrentSkater, TotalPenalties: penFoOrExp" sbCall="penSubstitute">Substitute</button>
        <button sbCall="penReassign">Change</button>
      </span>
      <span>
        <button sbClass="sbClickMe: EndFielding: sbIsNotEmpty | sbHide: Clock.Time: > 0" sbSet="IsCurrent: false">Has Left</button>
      </span>
      <span>
        <button sbSet="Clock.Time:-1000:change">-1</button>
        <button sbToggle="TimingStopped"><span class="ui-icon ui-icon-pause"></span></button>
        <button sbSet="Clock.Time:+1000:change">+1</button>
      </span>
      <span>
        <span sbDisplay="PenaltyDetails: penDetailButtons: html"></span>
        <button sbCall="penAdd">Add</button>
      </span>
    </div>
  </div>
</div>

<div class="sbTemplates">
  <div id="SubstituteSelector" class="sbSegment" sbContext="Team(*).Position(*)">
    <div class="sbGroup" sbPrefix="p:[*]">
      <span sbAttr="oldNumber: RosterNumber" sbButtonGroup>
        <button
          sbContext="^"
          sbForeach="Skater:: rosterNumber: resort=RosterNumber"
          sbAttr="rosterNumber: RosterNumber"
          sbDisplay="RosterNumber"
          sbClass="sbActive: p.Skater: === elem.attr('Skater') | sbHide: Role: === 'NotInGame'"
          sbSet="p.Annotation: sbSubAnn | p.Skater: elem.attr('Skater')"
          sbCall="sbCloseDialog"
        ></button>
      </span>
    </div>
  </div>

  <div id="ReassignmentSelector" class="sbSegment" sbContext="Team(*).BoxTrip(*)">
    <div class="sbGroup sbStack" sbPrefix="b:[*]">
      <span sbContext="^^" sbForeach="Team: 1,2: only">
        <span sbDisplay="AlternateName(box), UniformColor, Name"></span>
        <button
          sbForeach="Position: Jammer, Pivot, Blocker1, Blocker2, Blocker3: only"
          sbClass="sbUnserved: HasUnserved"
          sbDisplay="RosterNumber: questionMarkIfEmpty"
          sbSet="b.CurrentFielding: getFielding"
          sbCall="sbCloseDialog"
        ></button>
      </span>
    </div>
  </div>

  <div id="PenaltySelector" class="sbSegment" sbContext="Team(*).Skater(*).Penalty(*)">
    <div class="sbGroup Codes" sbPrefix="p:[*]">
      <div
        sbContext="^^^"
        sbForeach="PenaltyCode::: noId"
        class="Penalty"
        sbClass="Selected: p.Code: === elem.attr('PenaltyCode')"
        sbDisplay=": penToPenaltyCodeDisplay: html"
        sbSet="p.Code: elem.attr('PenaltyCode')"
        sbCall="sbCloseDialog"
      ></div>
    </div>
    <div class="sbGroup"><button sbSet="Remove">Delete</button></div>
  </div>
</div>
