<div id="PenaltyList">
  <div class="sbGroup sbHeader">Current Penalties</div>
  <div
    class="sbGroup sbStack Trip"
    sbContext="Team(*)"
    sbForeach="BoxTrip::time,num:resort=Clock.Time"
    sbAttr="time:Clock.Time | Team:-:k.Team"
    sbClass="sbHide: EndFielding, /ScoreBoard.CurrentGame.UpcomingJam: penIsNotCurrentFielding | Stand: Clock.Time: <=10000 | Done: EndFielding: sbIsNotEmpty | Old: IsCurrent: !"
  >
    <div class="Info">
      <span
        class="sbVeryImportant"
        sbCss="color: ^Color(penalty.fg) | background-color: ^Color(penalty.bg) | text-shadow: ^Color(penalty.glow): sbCssToShadow"
      >
        <span sbDisplay="^AlternateName(box),^UniformColor,^Name"></span> <span sbDisplay="RosterNumber"></span>
      </span>
      <span
        sbClass="sbInvisible: IsCurrent: !"
        class="sbVeryImportant Instruction"
        sbDisplay="Clock.Time, EndFielding: penToInstruction"
      ></span>
      <span sbClass="sbInvisible: IsCurrent: !" class="sbVeryVeryImportant" sbDisplay="Clock.Time: sbToSeconds"></span>
      <span class="sbImportant" sbAttr="warn: TotalPenalties, CurrentSkater, ^^Rule(Penalties.NumberToFoulout): sbToWarnLevel">
        <span class="sbShowOnBoxView"><span sbDisplay="PenaltyCodes"></span> | </span>
        <span sbClass="sbHide: CurrentSkater: sbIsEmpty">Total: <span sbDisplay="TotalPenalties"></span></span>
      </span>
    </div>
    <div class="sbShowOnPbt Edit">
      <span sbClass="sbInvisible: IsCurrent: !">
        <button sbClass="sbClickMe: CurrentSkater, TotalPenalties: penFoOrExp" sbCall="penSubstitute">
          <span sbClass="sbHide: CurrentSkater: sbIsEmpty">Substitute</span>
          <span sbClass="sbHide: CurrentSkater: sbIsNotEmpty">Select Skater</span>
        </button>
        <button sbCall="penReassign">Change</button>
      </span>
      <span>
        <button
          sbClass="sbClickMe: EndFielding: sbIsNotEmpty | sbHide: IsCurrent: !"
          sbSet="IsCurrent: false"
          sbDisplay="Clock.Time: penLeftText"
        ></button>
        <button sbClass="sbHide: IsCurrent" sbSet="IsCurrent">Unend</button>
      </span>
      <span sbClass="sbInvisible: IsCurrent: !">
        <button sbSet="Clock.Time:-1000:change">-1</button>
        <button sbToggle="TimingStopped"><span class="ui-icon ui-icon-pause"></span></button>
        <button sbSet="Clock.Time:+1000:change">+1</button>
      </span>
      <span>
        <span sbDisplay="PenaltyDetails: penDetailButtons: html"></span>
        <button sbClass="sbHide: CurrentSkater: sbIsEmpty" sbCall="penAdd">Add</button>
      </span>
    </div>
  </div>
</div>

<div class="sbTemplates">
  <div id="SubstituteSelector" class="sbSegment" sbContext="Team(*).Position(*)">
    <div class="sbGroup" sbPrefix="p:[*]">
      <span sbAttr="oldNumber: RosterNumber" sbButtonGroup>
        <button
          sbContext="^"
          sbForeach="Skater:: rosterNumber: resort=RosterNumber"
          sbAttr="rosterNumber: RosterNumber"
          sbDisplay="RosterNumber"
          sbClass="sbActive: p.Skater: === elem.attr('Skater') | sbHide: Role: === 'NotInGame'"
          sbSet="p.Annotation: sbSubAnn | p.Skater: elem.attr('Skater')"
          sbCall="sbCloseDialog"
        ></button>
      </span>
    </div>
  </div>

  <div id="ReassignmentSelector" class="sbSegment" sbContext="Team(*).BoxTrip(*)">
    <div class="sbGroup sbStack" sbPrefix="b:[*]">
      <span sbContext="^^" sbForeach="Team: 1,2: only">
        <span sbDisplay="AlternateName(box), UniformColor, Name"></span><span>: &nbsp;</span>
        <button
          sbForeach="Position: Jammer, Pivot, Blocker1, Blocker2, Blocker3: only"
          sbClass="sbUnserved: HasUnserved | sbInBox: PenaltyBox"
          sbProp="disabled: RosterNumber: sbIsEmpty"
          sbDisplay="RosterNumber: penQuestionMarkIfEmpty"
          sbSet="b.CurrentFielding: penGetFielding"
          sbCall="sbCloseDialog"
        ></button>
      </span>
    </div>
  </div>

  <div id="PenaltySelector" class="sbSegment" sbContext="Team(*).Skater(*).Penalty(*)">
    <div class="sbGroup Codes" sbPrefix="p:[*]">
      <div
        sbContext="^^^"
        sbForeach="PenaltyCode::: noId"
        class="Penalty"
        sbClass="Selected: p.Code: === elem.attr('PenaltyCode')"
        sbDisplay=": penToPenaltyCodeDisplay: html"
        sbSet="p.Code: elem.attr('PenaltyCode')"
        sbCall="sbCloseDialog"
      ></div>
    </div>
    <div class="sbGroup"><button sbSet="Remove" sbCall="sbCloseDialog">Delete</button></div>
  </div>
</div>
