<!DOCTYPE html>
<html>
  <head>
    <title>Overlay Admin | CRG ScoreBoard</title>
    <script type="text/javascript" src="/external/jquery/jquery.js"></script>
    <script type="text/javascript" src="/json/core.js"></script>
  </head>

  <body
    sbPrefix="$: ScoreBoard.Settings.Setting(Overlay.Interactive : ) | l: ScoreBoard.Settings.Setting(ScoreBoard.Penalties.UseLT)"
    sbOn="keyup: ovaKeyHandler"
  >
    <div id="Controls">
      <div id="Core" class="Panel">
        <h2>Elements</h2>
        <button data-key="C" sbToggle="$.Clock" class="ToggleSwitch">Clock [C]</button>
        <button data-key="S" sbToggle="$.Score" class="ToggleSwitch">Score [S]</button>
        <button data-key="J" sbToggle="$.ShowJammers" sbClass="disabled: l,$.ShowLineups: ovaLineups" class="ToggleSwitch">
          Show Jammers [J]</button
        ><br />
        <button data-key="L" sbToggle="$.ShowLineups" sbClass="disabled: l: !" class="ToggleSwitch">Full Lineups [L]</button><br />
        <button data-key="N" sbToggle="$.ShowNames" sbClass="disabled: l,$.ShowLineups,$.ShowJammers: ovaNobody" class="ToggleSwitch">
          Show Names [N]</button
        ><br />
        <button data-key="P" sbToggle="$.ShowPenaltyClocks" sbClass="disabled: l,$.ShowLineups: ovaNoLineups" class="ToggleSwitch">
          Penalty Clocks [P]</button
        ><br />
      </div>

      <div id="Panel">
        <h2>Panels</h2>
        <select id="PanelSelect" sbCall="ovaSelectPanel">
          <option data-key="X" value="">--- No Panel --- [X]</option>
          <option data-key="0" value="PPJBox">Points per Jam [0]</option>
          <option data-key="1" value="RosterTeam1">Roster (T1) [1]</option>
          <option data-key="2" value="RosterTeam2">Roster (T2) [2]</option>
          <option data-key="3" value="PenaltyTeam1">Penalty (T1) [3]</option>
          <option data-key="4" value="PenaltyTeam2">Penalty (T2) [4]</option>
          <option data-key="9" value="LowerThird" data-form=".ExtraFormLower">Lower Third [9]</option>
          <option data-key="U" value="Upcoming">Upcoming [U]</option>
        </select>

        <button id="PanelSet" class="ToggleSwitch" sbClass="sbActive: $.Panel: ovaUpdatePanel" sbSet="$.Panel: ovaGetNextPanel"></button>

        <div id="LowerThirdControls" class="sbHide">
          <h2>Lower Third</h2>
          <div class="in">
            <label>Line 1/Line 2/Style</label>
            <input sbControl="$.LowerThird.Line1" type="text" /><br />
            <input sbControl="$.LowerThird.Line2" type="text" /><br />
            <select sbControl="$.LowerThird.Style">
              <option value="ColourDefault">--- Default ---</option>
              <option value="ColourTeam1">Team 1</option>
              <option value="ColourTeam2">Team 2</option>
            </select>

            <label>Auto Skater Generator</label>
            <select id="Skaters" sbContext="ScoreBoard.CurrentGame" sbCall="ovaSelectLowerThird">
              <option
                sbForeach="Skater::sort: resort=Name"
                sbContext="Team(*)"
                sbAttr="sort: Name: k.Team + '_' + v | data-style:-: 'ColourTeam' + k.Team | data-line1: Name  | data-line2: ^Name | value: Id"
                sbDisplay="Name"
              ></option>
            </select>

            <label>Store</label>
            <select id="Keepers" style="width: 80%; float: left" sbCall="ovaSelectLowerThird">
              <option data-line1="" data-line2="" data-style="ColourDefault">--- Clear ---</option>
            </select>
            <button id="KeeperAdd" style="width: 15%" sbCall="ovaAddKeeper">+</button>
          </div>
        </div>
      </div>
      <div id="Scaling" class="Panel">
        <h2>Scaling</h2>
        <input sbControl="$.Scaling" type="range" min="50" max="200" /><br />
        <input sbControl="$.Scaling" type="number" /> %
      </div>
      <div id="Background" class="Panel">
        <h2>Background</h2>
        <select sbControl="$.BackgroundColor">
          <option value="transparent">Transparent</option>
          <option value="#00ff00">Green</option>
        </select>
      </div>
      <div id="TeamOptions" class="Panel" sbContext="ScoreBoard.CurrentGame">
        <h2>Team Display</h2>
        <div sbForeach="Team: 1,2: only">
          <input sbControl="AlternateName(overlay),Name:: sbToNullIfEmpty" type="text" />
          <input sbControl="Color(overlay.fg): ovaDefaultFgIfNull" type="color" sbClass="Cleared: Color(overlay.fg): ==null" />
          <button class="ClearPrev" sbSet="Color(overlay.fg): null">X</button>
          <input sbControl="Color(overlay.bg): ovaDefaultBgIfNull" type="color" sbClass="Cleared: Color(overlay.bg): ==null" />
          <button class="ClearPrev" sbSet="Color(overlay.bg): null">X</button>
        </div>
      </div>
      <div id="PreviewSize" class="Panel">
        <h2>Preview Size</h2>
        <input sbCall="ovaSetPreview" dim="width" type="number" value="1920" /> x
        <input sbCall="ovaSetPreview" dim="height" type="number" value="1080" />
      </div>
    </div>
    <div id="Preview">
      <iframe src="../index.html"> </iframe>
    </div>
  </body>
</html>
